[2017-04-26 19:11] Peter2121 opened #1 "FreeBSD build problem"
I have a problem building ecrire on FreeBSD. I have no strong skills in cmake build system, so I added -lintl at the end of ecrire/build/src/bin/CMakeFiles/ecrire.dir/link.txt file to build it successfully. Probably, your cmake files need some correction.
Initial error was:
`[100%] Linking C executable ecrire
/usr/bin/ld: undefined reference to symbol 'libintl_bindtextdomain' (try adding -lintl)
/

[2017-04-27 14:14] wltjr commented on #1
Thanks for the report. I do not have access to a FreeBSD system. I will see about creating a VM to test out or checking with someone to confirm. Not sure if that is something all should have, harmful, beneficial, etc. Or if it is something specific to FreeBSD/BSD's. I will see it is addressed either way. Thanks for the report. Also will be doing a new release shortly. I broke things like find/repl

[2017-04-27 14:43] wltjr commented on #1
If you can see if this patch works. Commit 13a741653b799299b0f3fdfc1c538236380c1329. If you are unable to I will test in a VM ASAP.  You may need to cleanup and regenerate cmake files.

[code]

[2017-04-27 20:32] Peter2121 commented on #1
I've just tested on a fresh VM with a fresh git clone - it still does not work correctly. I think that the issue is not too difficult to fix, you need just change cmake files to add -lintl to link.txt in case of FreeBSD build.
Note that even correctly compiled, ecrire does not work correctly with git version of EFL - there are many issues with settings dialog.

[2017-04-27 20:41] wltjr commented on #1
Did you check out from the new branch I created with that patch? That file you editted is auto generated by cmake. That is not the proper place to fix this issue. It should be in the main CMakeLists.txt file. The one I modified per the above patch. That should be the correct solution. It will add -lintl on FreeBSD. That is not a valid library on Linux. It is not required on Linux. Thus the conditi

[2017-04-27 20:47] wltjr commented on #1
What issues are you having with the settings dialog?

I did break some things when I switched to elm code. Word wrap is broken, since elm code I believe lacks that, but its should be added soon. The alpha setting  works for everything but the elm code. I am still trying to figure out what to apply the alpha to for it to be transparent. I haven't tried the font stuff that was existing, so maybe iss

[2017-04-27 20:55] Peter2121 commented on #1
Shortly, it is impossible to change the default font - any modification is not applied.

[2017-04-27 20:56] wltjr commented on #1
Try saving, hit apply and exit ecrire and then re-launch. I may not be applying the new font when the setting is changed. In fact I pretty much know I am not. I will fix that now. It should save the correct font and size and use on next start. Unless that using font loaded from settings is messed up as well.

[2017-04-27 20:58] wltjr commented on #1
I just tested that out and it did not work either. I will see what is wrong with font settings code. Thank you for mentioning that. Custom font is low on my interest list, so not sure when I would have tested that. That is mostly existing code, so likely not complete. Or I broke it switching to elm code.

[2017-04-27 20:59] Peter2121 commented on #1
No, the settings are neither saved nor applied.

[2017-04-27 21:01] wltjr commented on #1
Yeah 2 issues, it does not apply when changed via settings dialog. Nor does it load them if it saved them correctly. I will make sure to resolve. Thank you for testing that and the report!

[2017-04-28 01:31] wltjr commented on #1
I just pushed an update that fixes the font settings issue. But be forewarned you cannot go back. I have to work on coding going back to default font. For now you have to nuke the config file ~/.config/ecrire.cfg. But it will save what ever font is selected, same with size and change to that font when selected and on start.

Fixed a few more things, but a couple known issues still to address then

[2017-05-09 14:48] ApostolosB opened #2 "Ecrire crashes on start when using Wayland as the compositor."
Backtrace:
[code]

[2017-05-09 15:14] wltjr commented on #2
Great thanks! Mentioned on IRC just restating  here for anyone who comes across such. I am not able to run Wayland yet myself due to lack of multi-head/display support and/or switching displays. As such I do not really have means to run or test under Wayland short of VM etc. Its low on my priorities list, but is something I will address. Contributions are welcome.

Otherwise when I get time I will

[2017-05-09 18:46] wltjr commented on #2
I have a potential temporary fix for this in git. I added a cmake option wayland, ```cmake -Dwayland=true .``` to enable support for wayland. Which will use wayland over x. By default it will use ecore x, this will switch to ecore wl2; which is presently not used by ecrire. This should fix the crash issue. The ecore x code will not be included/compiled when wayland is enabled in ecrire cmake build

[2017-05-12 06:00] NuLogicSystems commented on #2
Raster just disabled the x specific code so it works on wayland, no need to have a option in cmake
https://git.enlightenment.org/apps/ecrire.git/commit/?id=20983dc2a2c737620c7aaf8f45d47d5e84e71334

[2017-05-12 14:12] wltjr commented on #2
I see that, and sadly that will make merging my work back into that repo more difficult. I was about to address this the proper way switching that code to elm_cnp.

[2017-05-12 14:58] wltjr commented on #2
If Raster had looked at my code. Setting -Dwayland as stated above. Would have the same effect as commenting out that code. Except it would retain the function for people not under wayland. Commenting it out disables it for all. Though no work has been done in that repo. It does make me concerned about my work going back in that repo. If another is just going to make any modifications they feel li

[2017-05-12 16:32] NuLogicSystems commented on #2
If what raster did doesn't exist in your code when you make your commit, then it shouldn't make a difference. Just git clone ecrire from git.enlightenment.org, then overwrite their files with yours when copying your code into your local git, then commit and push the changes, this should revert rasters commit in the process.

[2017-05-12 16:52] wltjr commented on #2
It does not work that way. He modified code that my modifications are based on. That breaks the ability to merge and creates a conflict. Try it yourself. Checkout that repo. Then in a branch checkout mine. Try to merge mine into that one and you will get a conflict.

[2017-05-12 16:55] NuLogicSystems commented on #2
I didn't say anything about merge, copy from your repo and paste into the cloned repo.

[2017-05-12 16:57] wltjr commented on #2
That is not the proper way. I have made hundreds of commits since then.

[2017-05-12 17:00] NuLogicSystems commented on #2
I know it's not the proper way, but it should work. How about this, since it lloks like only one commit why not `git reset HEAD`, or if it is more than one commit then `git rebase master~20983dc2a2c737620c7aaf8f45d47d5e84e71334 master~<whatever the last commit was that you forked the code at> master`.

[2017-05-12 17:14] wltjr commented on #2
That is one way but it is not good to do on public repos. It will require a force push and anyone pulling will have issues. To fix will just require a commit to reverse the other commit. Then I can merge/rebase on top of that. It just was pointless to even touch that repo. If anything should have pulled in my changes. But it was a hack fix not proper. My way is a more correct temporary fix till I

[2017-05-12 17:17] NuLogicSystems commented on #2
Well, however you and/or raster get it worked out. ;)

[2017-05-12 17:29] wltjr commented on #2
Yes its minor, its not really a big deal. Just wish he would have looked first, or asked before proceeding.That is really the only concern. Once my work is merged in and/or I have commit access. Others just jumping in and making blind changes is not really ideal. Its more a warning than anything. But all things can be fixed and this is minor. Just a good example that work flow need be coordinated

[2017-05-15 15:35] wltjr commented on #2
Resolved with recent commit. At least any crash relating to ecore x code. May still crash under wayland for other reasons. Crashing on save is known. Anything else would need a new ticket. Closing this as resolved.

[2017-05-15 16:52] wltjr opened #3 "Parallel compiling fails"
Fails to build with parallel jobs, requires make -j1 for now. It tries to build the code before the language translations, causing the build to fail.

[2017-05-16 11:02] ApostolosB commented on #2
just compiled from git and still see:

[code]

[2017-05-16 13:55] wltjr commented on #2
Is it still crashing or just linking to that stuff? Seems like cmake is linking in lots of unused and unwanted stuff.

[2017-05-16 18:01] NuLogicSystems commented on #2
I just tried to create a new build and now have a cmake error after the commits on the 15th.

[2017-05-16 18:55] ApostolosB commented on #2
Crashes when i start it. Compiled it with j1, it compiled fine, tried to run it and got the above.

FWIW i also tried to launch it from a tty. Crashes there also.

[2017-05-16 19:08] NuLogicSystems commented on #2
Can you post some debuging info with gdb and or ddd?

[2017-05-16 20:37] wltjr commented on #2
Reopening issue till confirmed resolved.

The above seems to be output from running in GDB not a normal crash output etc. Though it seems odd. It is not using any of that stuff anymore. Nor should it be linking to it unless something else is causing that. The ecrire binary is linked to a bunch of stuff not used. Something is pulling that in and maybe EFL itself. I will have to look into why that i

[2017-05-16 22:50] wltjr commented on #2
What branch are you pulling from? Make sure it is master. I merged my branch into master a bit ago. I need to delete my old branch, wltjr.

[2017-05-17 08:48] ApostolosB commented on #2
OK. Now it works. At least renders on WL and from a TTY.

Closing.

[2017-05-17 08:48] #2 closed

[2017-05-17 09:40] ApostolosB opened #4 "Crash when opening files."
Tried ecrire file.txt from the command line. Not sure if this is because of the size of the files but here goes:

[code]

[2017-05-17 12:54] ApostolosB commented on #3
Today i build like i always do with -j2 and it worked. If you don't see anything weird close this and i'll file a new bug in case i have any build issues again.

[2017-05-17 14:18] wltjr commented on #3
That is good news, though I suspect it mail fail again not sure. If it does can revisit.

[2017-05-17 14:18] #3 closed

[2017-05-17 14:19] wltjr commented on #4
This maybe an elm code bug not sure.

[2017-05-17 14:20] wltjr commented on #2
Great, maybe was pulling from wrong branch. I had the default set to my old I deleted. That may have caused a problem. Either way good to know thanks!

[2017-05-17 16:31] wltjr commented on #4
Opened task upstream [T5497](https://phab.enlightenment.org/T5497)

[2017-05-17 16:40] ApostolosB commented on #4
[fgdgda.txt](https://github.com/Obsidian-StudiosInc/ecrire/files/1008473/fgdgda.txt)

the test file

[2017-05-19 10:56] ApostolosB opened #5 "Redo stays highlighted even if the action can't be redone."
To rep:

Type something > hit undo > hit enter a few times > redo still highlighted.

[2017-05-19 11:06] ApostolosB opened #6 "Paste on the bar doesn't work reliably."
Start a new ecrire window > type a word >select it with the mouse > copy or cut > the paste option doesn't get highlighted.
If you hit enter some times and paste something with rclick>paste then it gets highlighted.

I've also seen it add characters at the end of a paste. Weird.

[2017-05-19 14:00] wltjr commented on #5
Thanks for the report I will look into ASAP

[2017-05-19 14:00] wltjr commented on #6
Thanks for the report I will look into ASAP

[2017-05-19 23:31] wltjr commented on #6
This seems to be an elm code bug, I have opened [task T5507](https://phab.enlightenment.org/T5507)

[2017-05-19 23:40] wltjr commented on #5
I think this is a lag effect. Go try to click on redo and see if it stays highlighted. It seems to be staying highlighted up till the moment I go to click it. Like it is being changed, just not updated. This also seems to happen in reverse. The undo stays highlighted with nothing left to undo. Till you click on the entry area again. Not sure if this is an elm code bug or something else, could be e

[2017-05-20 17:05] NuLogicSystems opened #7 "Crash on deleting spaces"
When editing a line that has too many spaces before the first character with either the delete key, or with the backspace key, crashes ecrire with no warning and on random number of deletes.

[2017-05-20 23:05] wltjr commented on #7
Thanks, not sure if that is an elm code issue or ecrire. Likely elm code unless something with ecrire callbacks is causing an issue. I will see if I can replicate.

[2017-05-21 18:08] ApostolosB opened #8 "Replace is not an undoable action"
To rep:
Open a new win
Type two words (ie test test)
Hit search
In the search for field type test
In the replace field type whatever you want (ie fail)
Click replace all
Then click undo
It will delete the last few letters.

[2017-05-21 18:11] wltjr commented on #8
Undo/redo is handled by elm code. Not sure if I need to register something with elm code or a bug, or how I am using the API. Seems it should be aware of changes via manual entry or replace. I will look into this, thanks for the report.

[2017-05-21 18:31] ApostolosB opened #9 "Hitting enter moves the pointer on the icon bar."
https://www.enlightenment.org/ss/display.php?image=e-5921dc4e2f2be6.21704835.png (on top of the new icon)

As the title describes.

[2017-05-21 18:33] ApostolosB commented on #8
Sorry for creating noise here but i don't know whether bugs are elm_code related or ecrire related. If its something obvious efl related i usually file it on phab (ie the file selector).

Its going to be a bumpy ride since elm_code is brand sparkling new and has its issues as it seems.

[2017-05-21 18:42] wltjr commented on #8
I do not mind. It is hard to say offhand if this stuff is elm code, or ecrire hooks around elm code. I think most are elm code related. I am not able to use EDI much if at all without crashes. Though I know ecrire has some of its own issues and may not be using the elm code API correctly in places. Its all a work in progress. Still not many docs on elm code yet, as its still in development. Ecrire

[2017-05-21 18:43] wltjr commented on #9
I have seen that before and  I am pretty sure is an elm code bug. One I haven't ever reported myself yet. But I have seen the cursor be up in the menu many times. Sometimes it is there while you are typing. Thanks for the report, I had not had a chance to go after such myself. This one I think is elm code specific and I will open a related bug as such. Thanks for the screenshot!

[2017-05-21 18:46] wltjr commented on #9
Opened a upstream task [T5511](https://phab.enlightenment.org/T5511)

[2017-05-22 16:15] wltjr commented on #4
Not resolved with EFL 1.19.1 it does not crash, but never opens, seems to hang or something. Need to debug further.

[2017-05-22 16:47] wltjr commented on #9
Confirmed on elm test code editor. Hitting enter on last line moves it to the first. Still in the editor, but likley because it has no elements between it and the top of the window.

[2017-05-22 17:27] wltjr commented on #7
Can you see if this remains with EFL 1.19.1? I am not able to replicate. If it does still occur. Can you provide reproducible steps? Thanks!

[2017-05-22 20:57] wltjr commented on #6
EFL 1.19.1 addressed the missing "selection,start" but is still missing "selection,copy" and "selection,cut". Which will not work till the next release of EFL. Code is there in ecrire for when ever it is implemented in EFL. This bug will remain open till at least next EFL release.

[2017-05-22 22:22] NuLogicSystems commented on #7
It's random, let me see if I can record it.

[2017-05-22 22:46] wltjr commented on #7
Ok no problem. Also see if you can replicate with Elementary test. That will confirm if its elm code or ecrire specific. Thank you!

[2017-05-22 22:51] NuLogicSystems commented on #7
I've tried vokoscreen, recordmydesktop and simple screen recorder.
I can't seem to capture the desktop, I just get a bunch of flickering apps on the desktop.

[2017-05-22 22:59] NuLogicSystems commented on #7
OK, I had vsync turned on in the compositor that was interfering with recording..
https://www.dropbox.com/s/z1p4oswavva6sfv/vokoscreen-2017-05-22_18-57-28.mp4?dl=0
https://www.dropbox.com/s/hcpymnvehz9o4vf/vokoscreen-2017-05-22_18-59-15.mp4?dl=0

[2017-05-22 23:06] NuLogicSystems commented on #7
What test in elm test would I use to test this issue?

[2017-05-22 23:25] wltjr commented on #7
In Elementary test app the search box, type in code. There are 3, Code Editor, Code Entry Markup, and Code Syntax. Usually it will occur in the first, Code Editor. That is the one I use the most, but should occur in any of the 3.

[2017-05-22 23:53] wltjr commented on #7
Ah ok I was able to replicate with your videos. Seems the key to trigger is make sure the cursor is at the very start of the line. I was able to replicate once with elementary test as well. I cannot reliable replicate in the tests as I can in ecrire. Not sure what that means yet.

[2017-05-23 00:55] wltjr commented on #7
Opened upstream [task T5516](https://phab.enlightenment.org/T5516)

[2017-05-23 09:43] ApostolosB opened #10 "Add tabs and the ability to show them side by side."
Feature request. As the title suggests. Making it possible to have 2-3 documents open side by side makes it easier to compare/copy/edit/whatever.

Also some kind of diff option between the open docs could come handy.

[2017-05-23 13:45] wltjr commented on #10
I do plan to add tabs at some point. Not sure about the diff aspect. It maybe possible. EDI does show diff side by side. Not sure if that is part of elm code or EDI features. Either way maybe something possible down the road but will be a ways. I think I added tabs into the todo for down the road, stage 2 or something. A slew of other bugs and core features I want to see implemented first. Lack of

[2017-06-30 04:56] NuLogicSystems opened #11 "elm_code: Right click paste doubles on every other paste."
Title says it all. Right click paste actually does a double paste every other time.
What is expected: -alpha1
What you get the second time: -alpha1-alpha1
and back to what is expected the third time, and so on.

This does not happen when using paste from the bar.

[2017-06-30 16:40] wltjr commented on #11
Nice catch, seems to be ecrire specific I could not replicate in elm code tests or EDI. Not sure offhand what could be causing this, as I do not believe I have any code for such. Maybe something legacy from elm entry from before the switch to elm_code.  Seems to be on the even pastes, not odd. If I continue to paste, every other is duplicated.

[2017-06-30 16:54] wltjr commented on #11
I think this is a bug in elm code though I cannot replicate it in anything else. It is strange, as it only fires with right click paste. It does not via CTRL-V or as you stated via paste button in toolbar. Those are the only two I coded, the right click is function I did not code nor have any hooks. Thus thinking its a elm code issue.

[2017-06-30 17:13] wltjr commented on #11
Opened upstream task [T5651](https://phab.enlightenment.org/T5651)

[2017-07-21 01:37] wltjr commented on #7
@NuLogicSystems is this still occurring for you using EFL 1.20.0 beta 3? I am no longer getting crashes. This may be resolved in EFL 1.20 release. Thanks for time checking!

[2017-07-21 01:39] wltjr commented on #9
This was fixed upstream for 1.19.2 and seems fixed in 1.20 beta 3. Can you confirm the same @ApostolosB? Thank you for your time checking!

[2017-07-21 11:23] NuLogicSystems commented on #7
I'm still getting crashes adding text in some of my files, but not in deleting any text in the same files.
I'm not sure if this answer helps, or not.

[2017-07-21 11:27] NuLogicSystems commented on #7
Oops, spoke too soon. It just crashed on me when deleting text.
This file usually crashes on me: https://www.dropbox.com/s/aase4h6azwxz182/PKGBUILD.txt?dl=0

[2017-07-21 15:10] wltjr commented on #7
Adding text would be a new issue or related to the deleting spaces maybe. Likely a new issue. I will check out that file thanks. I was using the other big file you provided before. It just hangs on that one for me now, till it runs out of memory and crashes. I commented on the phab bug.

[2017-07-23 22:15] wltjr commented on #7
I opened a new issue [T5771](https://phab.enlightenment.org/T5771) for the crash adding text. Likely need to open one here as well. I had opened another upstream I did not here [T5504](https://phab.enlightenment.org/T5504), crash when pressing enter on long lines. I think the issue with crashing on characters is related. At least seems to be for me.

[2017-07-24 13:33] ApostolosB commented on #9
Dont see this anymore with git since quite some time.

[2017-07-24 13:35] ApostolosB commented on #4
Just to update this. It stoped crashing on files. On huge ones it just hangs there being slow. At least on my slow system. Efl from git.

[2017-07-24 15:11] wltjr commented on #9
This was definitely fixed. Just waiting for EFL 1.20 to be released before I close. Then I will increase the EFL version build requirements, and close.

[2017-07-24 15:12] wltjr commented on #4
Were you able to close it when it was slowly opening large files? For me I end up with a OOM and crash after a bit. It eats up CPU as well as RAM. I mentioned on the task [T5497](https://phab.enlightenment.org/T5497). Seems like some progress, but not 100% there yet.

[2017-07-24 18:08] ApostolosB commented on #4
killall -9 ecrire did it. It hadn't been able to render anything on the screen though. And yes noticed the same. 100% CPU and eating ram.

[2017-08-08 02:33] wltjr commented on #11
This seems to be fixed with EFL 1.20.1. Can you confirm?

[2017-08-08 02:37] NuLogicSystems commented on #11
Yes, I can confirm.

[2017-08-08 02:38] wltjr commented on #7
Seems both these were resolved in 1.20.1. Can you confirm?

[2017-08-08 02:38] NuLogicSystems commented on #7
Yes, I can confirm.

[2017-08-08 02:38] #7 closed

[2017-08-08 02:40] wltjr commented on #9
EFL 1.20.1 is out so closing. Will push a commit in a bit with minimum requirement for that version.

[2017-08-08 02:40] #9 closed

[2017-08-08 02:45] wltjr commented on #6
This was resolved in 1.20.1, so closing. I will push a commit in a bit with minimum requirement for that version.

[2017-08-08 02:45] #6 closed

[2017-08-08 02:46] wltjr commented on #1
Pretty sure this was resolved long ago. If it still exists please re-open. Thanks!

[2017-08-08 02:46] #1 closed

[2017-08-18 05:09] wltjr commented on #5
Think this is a bit better now. There is only 1 case where I could still replicate an issue with the first character entered after a series of operations. On the 2nd character redo was disabled. That does not seem to occur with hitting enter. Though I have seen some other odd stuff with undo actions removing improper characters etc. Not sure exactly about that.

[2017-10-04 13:01] Peter2121 opened #13 "Cannot save new file"
When I open ecrire, type something and try to save my work - I get a corrupted dialog (see image).
Efl version is 1.20.99, OS is FreeBSD 11.

![err-ecrire-save](https://user-images.githubusercontent.com/3807655/31176991-f24c1eb0-a914-11e7-8d0e-2580e8c3d7e9.jpg)

[2017-10-04 15:01] wltjr commented on #13
Nice likely something changed in EFL. I will see if I can replicate. Could be something in ecrire code, but that dialog is just an elm_win_inwin with elm_fileselector. Pretty [minimal code](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/ui/file_related.c#L23). Maybe it needs a minimum size or something, but usually windows re-size to their contents. I will take a look, thanks fo

[2017-10-04 15:02] wltjr commented on #13
Forgot to mention, can you check Elementary Tests, if you have them installed. The FileSelector Button or Entry. Curious if they have size issues as well.

[2017-10-04 20:32] Peter2121 commented on #13
No problems in Elementary Tests.
Voila the errors in terminal when I reproduce the problem:
[code]

[2017-10-04 20:38] wltjr commented on #13
Could be bad code in ecrire, but that seems like issues resulting from a change in EFL. I will file a bug in phab. Maybe they can point out the issue in ecrire code, or what ever is causing that in EFL. Strange it did not do that for me when I switched to snapshot from earlier today. But I did have other issues with themeing. I opened an [issue](https://phab.enlightenment.org/T6143) on that. I hav

[2017-10-04 20:47] Peter2121 commented on #13
I think that the problem is in theme file, used by ecrire

[2017-10-04 20:57] wltjr commented on #13
Ecrire has no theme file :) I have considered it but not sure I like edje and not sure anyone wants to theme ecrire. At best I could see doing it for maybe mobile and desktop UI. Though I would think that to apply to E in general and not be Ecrire specific. I feel ecrire will always go with the general E theme. Not sure anyone would want a theme specific for ecrire. Other things use themes for lik

[2017-10-04 21:55] wltjr commented on #13
BTW really glad you ran into this before I made any further changes. I am planning on adding a history to the file dialog. Not sure I would have it be present for file saving, but its basically the same dialog for opening or saving. Along those lines are you having any issues on opening or just saving? Seems like it should be any use of that dialog. If its just save, that is strange.

Anyway I was

[2017-10-05 13:14] Peter2121 commented on #13
Yes, the problem is present showing "Open" dialog as well.

[2017-10-05 14:25] NuLogicSystems commented on #13
That's the file selector bug that was fixed not too long ago.

[2017-10-05 14:35] NuLogicSystems commented on #4
The CPU spike was fixed in EFL, but it does take a long time to load large files.
Maybe some sort of caching should be used here.

[2017-10-05 14:38] wltjr commented on #4
Very likely, but all that is due to elm_code. Ecrire just passes the document to load to elm_code. Catching, performance, etc is all specific to elm_code. I may look into contributing and furthering elm_code, but not sure I fully understand it yet. If its even fully developed. I think elm_code is still considered experimental. I guess we can close this bug. Though I may wait till its fixed in a re

[2017-10-05 14:42] wltjr commented on #13
That may explain why I did not see it in latest git. I guess its fixed, and can close upstream issue.

[2017-10-17 19:22] NuLogicSystems commented on #11
This seems to be back in efl-git, I haven't tried efl 1.20.4 yet..

[2017-10-17 19:33] wltjr commented on #11
I am running 1.20.4 and have not seen it. Really not to pleased with the elm_code situation. Waiting on a number of upstream issues and had more [drama over words](https://phab.enlightenment.org/T6221)....

They disabled my phabricator account so I cannot do anyting. I may stop with EFL stuff entirely. Seems a total waste of time....

[2017-10-18 03:26] NuLogicSystems commented on #11
Aww. Well that would suck, I rather enjoy ecrire now..

[2017-10-18 04:02] wltjr commented on #11
I was just starting to do more work on it. I added main menu bar and option to remove that and/or toolbar for a more slimmed down desktop look. It has a few issues. Like you can remove both, but need warnings. Presently have to edit or delete config file to restore. I had plans to do more work today but got bogged down in stupid waste of time on a few tasks I opened in phabricator. None of which I

[2017-10-18 04:06] wltjr commented on #11
Also some weird issue with writing boolean integers to config file via eet. Seems to cause it to not start at times and I have to delete the config file. Seems storing booleans is difficult. Guess I can revert to regular integers. or maybe that is the problem. Not sure, but not surprised. Stuff is very strange, and poorly documented. Like nothing on how you write a boolean to a cfg file... Not eet

[2017-10-18 15:35] wltjr commented on #11
Going to have to look further into this. I can replicate this in ecrire but not in edi or elm_code tests. Which is strange. Ecrire does nothing with the right click paste stuff, but maybe something else is interfering with that. It maybe ecrire specific. Just very minimal code for such. Maybe has to do with the copy and paste stuff from outside of ecrire I added. That maybe adding the 2nd copy of

[2017-10-18 15:54] wltjr commented on #11
Sadly definitely upstream and can only replicate in ecrire... There is very [minimal code](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L451) for such. Basically just a single callback for the buttons in main menu or toolbar to call. it does not fire otherwise. It is very strange as this does not happen with CTRL-V, nor using the past buttons. Its just right click and t

[2017-10-18 16:39] NuLogicSystems commented on #11
Take your time, I can always use the toolbar buttons. ;)
Note: I haven't seen this happen in a couple of days, but then I update efl-git almost daily on my machine. I'll keep testing as time goes on.

[2017-10-18 17:23] wltjr commented on #11
Its going to have to take time, till elm_code devs feel like taking a look. Which likely means they will have to test it out in ecrire as it does not seem to occur in other. Really wish it was something I could address directly. Like the 3rd button copy and paste. I may have to start patching EFL. Which any patches would not make to upstream, so would have to be applied outside...

You can also us

[2017-10-18 17:59] wltjr commented on #11
I found the cause! It only happens when text is copied from outside ecrire. If you copy/paste from within it does not ever duplicate. That said it seems it is still a bug in elm_code. Not to hard to follow but a couple steps.

First I add a focused callback listener on the window
[code]
Which fires this callback, that fires another callback to activate/deactivate the copy/paste buttons on toolbar.

[2017-10-19 19:29] wltjr commented on #8
This should be resolved now, seems so for me at least. I am going to close this issue. Please re-open if the problem remains.

[2017-10-19 19:29] #8 closed

[2017-10-20 13:45] NuLogicSystems opened #14 "elm_code: Right click > paste causes no keyboard input."
Right click again restores the keyboard input.

[2017-10-20 15:47] wltjr commented on #14
I am not able to replicate, likely not following same steps. Can you please describe the steps to replicate? I assume you mean;
1. Right click paste text
2. Try to enter text after

Something seems off with that right click paste stuff. All function and code is in elm_code, but seems something in ecrire causes problems. Given the duplicate paste that can only be replicated in ecrire for some reaso

[2017-10-21 01:07] NuLogicSystems commented on #14
Yes, paste text into ecrire using right click and try to type, nothing types.
You can either right click again, click on the titlebar (like your going to move the window), click on the bottom bar, try to resize window, or use any of the buttons or menu functions. In other words, it sort of looses keyboard focus. Moving focus away from the input field, and then back again, fixes it.

[2017-10-21 01:25] wltjr commented on #14
Interesting, unfortunately I am not able to replicate. Are you using EFL 1.20.4 or git? Also what version of E? Though think its likely an EFL vs E problem. Are you able to replicate in elm tests or edi? Thanks!

[2017-10-21 03:21] NuLogicSystems commented on #14
I'm using git master most of the time.
I just checked, and yes, I can reproduce this in elm test.

[2017-10-21 03:23] wltjr commented on #14
Sounds like an elm_code bug in git EFL. Which is a new issue that did not exist. In addition to the duplicate paste with right click. Seems that whole right click handling is rather buggy.

[2017-10-21 03:26] NuLogicSystems commented on #14
I just remembered that marcel has been working focus lately, maybe the issue is in there.
This could also be a clipboard issue. I'll mention this to him and see what we can come up with.

[2017-10-21 03:43] wltjr commented on #14
Possibly but elm_code tends to deviate from the normal stuff pretty heavily. Most things are ajwilliams and al/netstar.

[2017-10-21 06:39] NuLogicSystems commented on #14
I'm not sure what you mean, but Marcel (bu5hm4n) has been working on all aspects of focus lately:
https://git.enlightenment.org/core/efl.git/log/

[2017-10-21 14:27] wltjr commented on #14
Its hard to explain. If you experience issues in elm_code not in other widgets that is the easiest way to explain. I bet the issues you are experiencing do not show in anything else. I am not sure about focus, but any elm_code bugs tend to be worked on by others as well as elm_code development.
https://git.enlightenment.org/core/efl.git/log/?qt=grep&q=elm_code

[2017-10-22 18:48] Peter2121 commented on #13
I confirm that the problem has gone after EFL updating.

[2017-10-22 18:48] #13 closed

[2017-10-22 18:57] Peter2121 opened #15 "elm_code: Unable to scroll right for text selection of long lines"
When a line of text is longer than the horizontal size of Ecrire's window - the horizontal scroll automatically occurs on 'End' key pressing. But when the 'Shift' key is pressed in the same time (to select the text till the end of the line) - there is no horizontal scroll. The whole line is selected, but the beginning of the line is still shown.
Idem for the vertical scroll - going down (with 'PgD

[2017-10-22 19:18] wltjr commented on #15
Thanks I [filed this with upstream T6221](https://phab.enlightenment.org/T6221) before having my [account disabled](https://phab.enlightenment.org/p/wltjr/) due to my interaction on that very task. elm_code has numerous issues that sadly effect ecrire. Not much I can do to resolve but wait for upstream to address.

[2017-10-22 19:30] wltjr commented on #15
Sounds like you discovered many more issues with scrolling in elm_code than just unable to scroll long lines to the right. I doubt upstream is aware of these other issues. You may want to file individual issues on each. Unable to scroll down while pressing shift. The end key button issue. I do not think that stuff will be fixed when they fix scrolling right.

[2017-10-24 16:39] wltjr commented on #14
Finally able to replicate this on 1.20.5. It seems to be another 2nd paste issue. I can type after the first paste, but not the 2nd.

It is a focus related issue!

Elm code does something unique when it has focus. The line the cursor is on turns black. You can clearly see on the 2nd paste when you cannot type. The line becomes grey. Indicating that elm_code lost focus. If you click in the text are

[2017-11-07 15:32] wltjr opened #16 "Saved new file not added to recent files"
When saving a new file, not one already opened. Ecrire fails to add the file to the recent files. Likely effects save as with an existing document just the same.

[2017-11-09 02:37] wltjr commented on #4
Despite all related tasks being closed upstream. The issue still remains. I get 100% CPU when trying to open the document. EFL 1.20.5. Not sure about git, assuming that is the same.

[2017-11-10 20:11] wltjr opened #17 "Crazy mime types in bottom right corner"
Ecrire displays crazy mime types in the bottom right corner. This comes directly from efreet.

[code]

[2017-11-11 17:41] wltjr opened #18 "elm_code: First character being bold when using line numbers < 10 lines"
A bug in elm_code causing the first letter of some or all lines to be bold. This is related to the line numbers. Which the margin also seems to change size, and is a bit wonky there.

![shot-2017-11-11_12-31-37](https://user-images.githubusercontent.com/12835340/32691889-bb003582-c6dc-11e7-92d9-daa655b0b6d0.jpg)
![shot-2017-11-11_12-29-48](https://user-images.githubusercontent.com/12835340/3269188

[2017-11-13 22:07] wltjr opened #19 "Duplicate entries in recent files"
Duplicate entries are recorded in recent files. Which is frustrating as the [code](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L329) is doing.
[code]

Which for some reason is failing to properly compare the same data. Likely a bug in usage, but could be a bug in list_data_find, but would be odd. May need to change the comparison from ! to == or !=.

[2017-11-14 21:39] NuLogicSystems opened #20 "can't build"
I'm getting:
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
EDJE_LIBRARY (ADVANCED)
    linked by target "ecrire" in directory /build/ecrire-git/src/ecrire/src/bin
ELEMENTARY_LIBRARY (ADVANCED)
    linked by target "ecrire" in directory /build/ecrire-git/src/ecrire/src/b

[2017-11-14 21:45] wltjr commented on #20
Can you attach that log? That is pretty strange it fails. I have not had any build failures on Gentoo, nor on Travis using Ubuntu. Unless something in EFL changed. Would be odd if no longer providing edje or elementary libraries.

[2017-11-14 21:45] NuLogicSystems commented on #20
Ok maybe a problem in your CmakeLists.txt:
-- Could NOT find edje (missing: EDJE_LIBRARIES EDJE_INCLUDE_DIRS)
-- Found efreet: /usr/lib/libefreet.so
-- Found efreet_mime: /usr/lib/libefreet_mime.so
-- Could NOT find elementary (missing: ELEMENTARY_LIBRARIES ELEMENTARY_INCLUDE_DIRS)

[2017-11-14 21:47] wltjr commented on #20
No something seems to have changed with EFL or something.
[code]

Could be something off with pkgconfig. Do you not have a /usr/lib64/libedje.so and /usr/lib64/libelementary.so?

[2017-11-14 21:48] NuLogicSystems commented on #20
I'm using efl 1.20.5.
Let me check my build of efl.

[2017-11-14 21:50] wltjr commented on #20
I am as well, and same on Travis. Thus something must be off in your environment or something. Those have always been there going back to the [original repo](https://git.enlightenment.org/apps/ecrire.git/tree/CMakeLists.txt#n13). Nothing has changed, and it definitely needs to link against those libraries.

Look for edje.so and elementary.so. Something is not able to find them. What version of cma

[2017-11-14 21:54] NuLogicSystems commented on #20
Here is what I got..
[code]

[2017-11-14 21:54] wltjr commented on #20
Travis hides that section but you can see it in [Shippable](https://app.shippable.com/github/Obsidian-StudiosInc/ecrire/runs/120/1/console) under Build CI.
[code]

[2017-11-14 21:55] wltjr commented on #20
Seems the other libraries in your case are in /usr/lib per the above
[code]

You need to see if you have a
[code]
Seems yours is not there. You need to find where libedje.so and libelementary.so are on your system.

[2017-11-14 21:58] NuLogicSystems commented on #20
I just checked my EFL package and they are indeed there.
I build in a clean chroot so this is strange..

[2017-11-14 22:01] NuLogicSystems commented on #20
Frack it pulled in the arch package 1.20.3, not mine.
Let me go fix this crap again.

[2017-11-14 22:01] wltjr commented on #20
Yes indeed, something is causing cmake to not find those libraries. Not sure what I can change as that stuff in cmake is pretty straight forward. Why its called find_package. So your saying you have a /usr/lib/libedje.so and /usr/lib/libelementary.so and cmake is failing to find them? That is pretty strange. Not sure how I can replicate to fix.

[2017-11-14 22:02] wltjr commented on #20
Ah no worries, but makes senses that something in env is off. Must have something off in that version of EFL.

[2017-11-14 22:21] NuLogicSystems commented on #20
OK that's better, it's not you it's arch.. My EFL package works right. ;)
 However, you did remove ChangeLog and NEWS, so I did need to fix that in my PKGBUILD..

[2017-11-14 22:21] #20 closed

[2017-11-14 22:43] wltjr commented on #20
Yes, autotools needs those, one was empty and the other never really used. Stop using autotools, use ninja instead :) I think autogen.sh or some autotools things can re-generate those. Maybe even a missing cmake flag not sure.

Best to use ninja its faster
[code]

Change out package for what ever target, compile etc. You will see the speed of cmake + ninja is basically the same as meson + ninja. I

[2017-11-15 02:49] NuLogicSystems commented on #20
I'll try that next time. ;)

[2017-11-15 03:12] wltjr commented on #20
Yeah I may need to suggest people avoid auto tools or create those files, or autogen.sh. Which is common for autotools, but not so much for cmake. In fact running that maybe odd. I have to see when the error occurs, during cmake or make after. I guess I could add back. NEWS i believe was empty. At some point will do a ChangeLog from git commits I think. Mostly spending time on the package itself v

[2017-11-15 04:19] NuLogicSystems commented on #20
The issue wasn't building, it was in my packaging of these files:
[code]
I change this to:
`install -D -m644 COPYING $pkgdir/usr/share/licenses/$pkgname/COPYING`

I wouldn't waste too much time on this. ;)

[2017-11-15 05:35] wltjr commented on #20
Ok that's good. I know regular auto tools build will complain and fail. There is an option to have it auto generate missing stuff. I thought cmake makefile generation took care of that. If it comes up again I can restore them. Prefer the least files in root directory as possible.

[2017-11-24 09:07] ApostolosB opened #21 "Resizing causes text selection"
To rep:
Have a file with multiple lines of text.
Use the bottom right corner to resize the window.
Move the pointer in the text area
It selects the text.

ecrire-git efl 1.20.6& git

[2017-11-24 10:34] ApostolosB opened #22 "Blinking cursor size doesn't correspont to the font size"
If you use a custom font and size it up a bit the blinking line cursor is smaller than the text. It also doesn't line up nicely with the text.

[2017-11-24 12:14] ApostolosB opened #23 "Selection doesn't cancel if you click outside the text lines"
As the title suggests.
If you select text and click below the numbered lines the selection doesn't cancel.

Minor annoyance :/

[2017-11-24 15:58] ApostolosB opened #24 "Crash with the file browser when empty selection is active."
to rep
Open ecrire and resize the window. move the mouse cursor up (passing through the first line in order to select it -see the other bug) and hit open. Hit ok. It will crash with:
[code]

[2017-11-24 18:20] wltjr commented on #22
Yep I can confirm that. elm_code has tons of issues. I wish the developers would spend more time fixing bugs and looking for new ones. Stuff like this and others effects all elm_code. Which includes EDI, the E IDE which I cannot see how anyone can use that. Given the amount of issues for ecrire being a text editor. If I was writing code with all these issues.... Clear why I do not use EDI and use

[2017-11-24 18:22] wltjr commented on #23
Not able to replicate, likely a regression maybe in git not in release. I am on EFL 1.20.6 and E 0.22.1. But once again likely an elm_code bug. Possibly not, but most focus and selection related issues are within elm_code or elementary.

[2017-11-24 18:24] wltjr commented on #21
Not able to replicate maybe a regression in git. Can you see if this occurs with elm_tests/Elementary Tests -> Code Editor, Code Entry Markup, or others. Thanks!

Sounds like yet another elm_code bug...

[2017-11-24 18:27] wltjr commented on #24
Not able to replicate, this maybe ecrire specific. Or triggered by the other issue #21. I think maybe a regression or new issue in git. I may have to try out latest git snapshot and see if I can replicate. I hope something I can address, but sounds like a focus issue and internal like others.... Very frustrating as a developer. Some what regret switching to elm_code... Though I run into tons of EF

[2017-11-24 18:36] wltjr commented on #4
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:37] wltjr commented on #11
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:37] wltjr commented on #14
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:37] wltjr commented on #15
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:37] wltjr commented on #17
Adding upstream so they are aware of issues
@Enlightenment @zmike

[2017-11-24 18:37] wltjr commented on #18
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:37] wltjr commented on #21
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:37] wltjr commented on #22
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 18:38] wltjr commented on #23
Adding upstream so they are aware of issues
@Enlightenment @ajwillia-ms @zmike

[2017-11-24 20:36] ApostolosB commented on #24
Network manager is being worked on. Anyway. Can replicate this on both my efl git and stable systems.

[2017-11-24 20:37] ApostolosB commented on #21
Yes happens with Test -> Code editor

[2017-11-24 20:38] ApostolosB commented on #23
Yep. Replicates with Test > Code Editor

[2017-11-24 20:42] wltjr commented on #23
Ok thanks, that confirms its an EFL/elm_code issue sadly.... Please try to find an issue I can fix :) hehe I much rather blame myself for any issues and having some ability to fix. When its in EFL/elm_code I am at a loss. I guess I can see about making a wrapper to fix issues or patches that won't go upstream. How I ship them with ecrire, etc. Just nothing good there. Thanks for the report. Doing

[2017-11-24 20:42] wltjr commented on #21
Great thanks for confirming!

[2017-11-24 20:46] wltjr commented on #24
Who is working on Network Manager? I am aware of this [one](https://github.com/eyoz/oconnection), but its using the old API. Not sure why someone would start something new using old API. I am not aware of any others underway and surely has not updated the [EFl Apps Todo](https://phab.enlightenment.org/w/efl_apps_todo/) I created. I would not be surprised if another was underway. Seems like working

[2017-11-24 20:51] ApostolosB commented on #24
Okra is working on something for nm. Hasn't released anything yet. As for verne and anna the author is busy with focus stuff and his university stuff.

[2017-11-24 20:58] wltjr commented on #24
That figures... @okratitan should be working on refining bryce and fixing issues there vs making modules others have showed interest in. I have discussed that with him. Seems most are not interested in something till I mention it. Then everyone wants to work on their own version. I would have a visible repo if it wasn't for the bryce problems. It stopped me dead in my [progress on clipboard](https

[2017-11-24 21:09] ApostolosB commented on #24
The long term plan is for efm to go away. It uses the internal api and this need to go. The sooner the better. Most likely verne is what will replace it Once bushman finds some time and its ready.

As for bryces i haven't noticed anything weird. But i don't do weird stuff with it.

[2017-11-24 21:19] wltjr commented on #24
I can't even use bryce at all. When I first add it, I cannot add gadgets. I have to log out and back in before the right click menu appears. If I go to add anything it freezes and crashes E. Thus for me anything bryce is totally unusable. I even tried without a shelf and any gadets. To see if it was a new + old causing problems together. But I haven't really ever been able to use it reliably, just

[2017-11-24 21:20] okratitan commented on #24
I didn't decide to work on networkmanager because you were.  It's been in the works before you, as when you mentioned it I told you that the wireless gadget was already setup to take in networkmanager support.  As things have progressed and I've maintained my work on gadgets, the next assignment given was to add networkmanager support to wireless.  Trust me. I would much rather have someone else h

[2017-11-24 21:27] andydotxyz commented on #21
I cannot replicate, perhaps misunderstanding the steps - please expand on what you mean by "Move the pointer in the text area" .

A video would be helpful, if possible.

[2017-11-24 21:33] andydotxyz commented on #4
The fact that it crashed was fixed. The high CPU usage appears to be a new issue. I have been working with ApBBB to resolve this new issue.

[2017-11-24 21:34] ApostolosB commented on #21
@ajwillia-ms
Open elm_test > open Code editor > Move pointer to the lower border to see the resize cursor >Resize > move the cursor from the bottom to the top bar. The text will become blue/selected.

[2017-11-24 21:35] andydotxyz commented on #14
I cannot replicate locally with the latest focus code in EFL

[2017-11-24 21:36] wltjr commented on #24
@okratitan FYI I have interacted a bit over the years with some network manager devs due to bugs and things encountered in Gentoo. I [helped](https://qiaomuf.wordpress.com/2011/03/08/gentoo-networkmanager-plug-in-now-supports-non-alnum-ssid/) in the past with Gentoo specific network manager port no longer in use Good thing last time there I said nothing about doing a module for EFL. Given I had ju

[2017-11-24 21:37] andydotxyz commented on #21
I cannot replicate with those steps, sorry. There are no clicks or keyboard steps required?

[2017-11-24 21:40] andydotxyz commented on #22
When registering an "upstream bug" it would be very helpful if someone linked the bug in the upstream bug tracker. That way it will get scheduled for next release, where possible.

[2017-11-24 21:43] NuLogicSystems commented on #14
@ajwillia-ms
Is that efl-git or efl 1.20.6?

[2017-11-24 21:43] andydotxyz commented on #11
Please provide steps to replicate in elementary_test -> Code Editor.
The code snippet above illustrates a second call to elm_cnp_selection_get so a duplicate would not be surprising.

[2017-11-24 21:45] wltjr commented on #24
@okratitan also having read Samsung open source blog. I have no one to thank. No one has helped me with EFL dev. Seems others got more assistance there and other

"The creator of Ewl, Nathan Ingersoll, took me under his wing and began teaching me C and how to use Ewl and other Enlightenment Foundation Libraries (EFL)."
https://blogs.s-osg.org/introducing-stephen-houston-newest-intern/

"Carsten Ha

[2017-11-24 21:46] andydotxyz commented on #18
I cannot see which upper case you are referring to - do you mean bold typeface?
Either way I cannot replicate locally - is it possibly related to the font being used?

[2017-11-24 21:48] andydotxyz commented on #14
efl-git - focus code was in the middle of being changed in 1.20.6 so if it's on that version it would be great to know if it is resolved on master.

[2017-11-24 21:49] NuLogicSystems commented on #11
I can't reproduce this in code editor, but it does still happen in ecrire.

[2017-11-24 21:52] wltjr commented on #22
It would be helpful if others did not [disable peoples](https://phab.enlightenment.org/p/wltjr/) account so they could do that... For now others must file bugs and link them. I linked most upstream bugs here but I do not believe I provided cross links, link from upstream to here.

[2017-11-24 21:53] wltjr commented on #18
Yes upper was a mistake, I meant bold. Sorry for that mistake. Big difference in meaning. In this case I have no custom font set.

[2017-11-24 21:54] NuLogicSystems commented on #14
I can still reproduce the after second paste it looses focus in the code editor on EFL 1.20.6.
After second paste I can't hit enter and have to click in the box again to get the keyboard back.

Steps to reproduce:
- paste a line in code editor
- hit enter for a new line
- paste again on second line
- focus is no longer on code editor
- click back in code editor box
- can now use keyboard again

[2017-11-24 21:56] wltjr commented on #11
@ajwillia-ms see code in [previous comment](https://github.com/Obsidian-StudiosInc/ecrire/issues/11#issuecomment-337676064)

It is strange, it could be ecrire specific. But seems to only occur when using that code block. Which I do not think should cause it to double. I think I saw this happen once in Terminology as well. It maybe something in EFL and no elm_code specific. That is a for sure trigg

[2017-11-24 21:57] ApostolosB commented on #21
http://www.filedropper.com/20171124234047
video file of the bug.

Also i have to remind you people that i am on wayland. If you can't rep it like that we probably have an input issue on WL.

[2017-11-24 21:59] wltjr commented on #11
FYI [_activate_paste_cb](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L599) does not do anything other than activate a button. It does not handle any pasting. Unless activating the button causes it to fire. Which would be odd. I cannot understand why a call to elm_cnp_selection_get would duplicate the paste but that seems to be what causes it to happen. If I comment tha

[2017-11-24 22:01] wltjr commented on #21
@ApostolosB thanks much. I think with future bugs we may need to know wayland vs X. I will make up a basic bug template asking EFL version E version and X or Wayland. Though not sure E version matters. Using only EFL code nothing E specific. Not sure ecrire has been subject to any E related bugs or fixes, just EFL.

[2017-11-24 22:17] andydotxyz commented on #4
I tried replicating that locally and I find:
It takes 15 seconds to open the file
The UI is a little sluggish when moving around
It takes 5 sec to close the file.

This is clearly not acceptable but I wanted to check that we are on the same page before I look into a fix.

[2017-11-24 22:25] andydotxyz commented on #11
Might it be worth using the elm_code_widget_selection_* APIs instead? The Elm cnp APIs can be confusing. Pretty sure this does not qualify for upstream_bug.

[2017-11-24 22:25] wltjr commented on #4
leafpad opens immediately, netbeans issues warning about size and maybe slow, but opens fine no delay. It may have something to do with processing, as in syntax. Given the issue reported in [phab task 6209](https://phab.enlightenment.org/T6209). Maybe totally unrelated, but maybe what ever is causing that lag could be causing lag on file load/close. Though that could be focus/select related. Much

[2017-11-24 22:27] andydotxyz commented on #22
As per your email to the group today you have another account and have decided not to file bugs using it.
That said I am sure, as you say, that others could do that if you won't.

[2017-11-24 22:28] andydotxyz commented on #18
Thanks. As EFL does not install a default font it would still be helpful to know what font you are using - Elm_Code picks up the first Monospace font returned by fontconfig.

[2017-11-24 22:30] andydotxyz commented on #14
Is it possible to test efl-git? This may already be fixed upstream

[2017-11-24 22:31] wltjr commented on #11
elm_code_widget_selection is in use. This is used for other things. What this code does is activate the paste button when ecire gets focus if something was copied, added to paste from outside of ecrire. Otherwise button would be active all the time, and when pressed would do nothing when paste buffer was empty.

1. Open some app copy text.
2. Go into ecrire, ecrire gets focus
3. Paste button is ac

[2017-11-24 22:34] wltjr commented on #18
Noto sans font. I do not believe it is font specific. Knowing what font EFL is using is another issue I brought up [early on](https://phab.enlightenment.org/T5453). Even went to [fontconfig](https://bugs.freedesktop.org/show_bug.cgi?id=100935) to see about possible solutions. Plus discussions on list etc. I cannot create a proper Font selection dialog, as I have no clue what the font in use by def

[2017-11-24 22:37] andydotxyz commented on #11
Well, the issue is that elm_cnp_selection_get is not a passive operation, it does not seem to have been designed to check for buffer availability. By calling that you are initiate a selection paste.
I would guess that you are not using the data and it somehow gets appended in memory the next time the widget tries to paste and so there is twice the content.

[2017-11-24 22:37] wltjr commented on #22
Why should I be forced to use another account while the main one I use people can recognize me at remains disabled? I do not file bugs out of respect. If others wanted me to file bugs they would not have disabled my main account. That argument makes no sense what so ever.

I bet most of these issues you are not aware of. They have filed some other bugs in phab. Others can do many things I will not

[2017-11-24 22:38] andydotxyz commented on #18
Can you please screenshot it in elementary_test so I can do a pixel comparison locally?

[2017-11-24 22:40] wltjr commented on #11
Which sounds like an elm_cnp bug. Which elm_cnp is new and meant as a layer between X and Wayland. Despite the fact it has little to no Wayland code. I am not sure Wayland even supports copy and paste.

Keep in mind it does not duplicate all the time. it does it every other paste. it is for sure a bug. Just maybe in elm_cnp vs elm_code. Just only able to replicate in elm_code. Though I think this

[2017-11-24 22:42] NuLogicSystems commented on #14
I'll try on my test machine later. This one needs to remain on stable releases.

[2017-11-24 22:42] andydotxyz commented on #21
Thanks for the video.
I wonder if this is possibly an issue with e-wayland rather than elm_code in wayland.
Just a guess. Is it possible for you to try on another window manage to rule that out please?

[2017-11-24 22:47] NuLogicSystems commented on #4
I just tried opening fgdgda.txt in ecrire and ecrire never shows up (double click file), or just sits there frozen with the file-selector window open. All I can see it doing is slowly eat ram until I end up killing it's process in exterminator.

[2017-11-24 22:52] wltjr commented on #18
Here you go, the first line f is bold, 2nd line and others its not. It is only the first character when that happens.
![shot-2017-11-24_17-50-50](https://user-images.githubusercontent.com/12835340/33225144-31f2ac8e-d140-11e7-8d9e-c58a02432837.jpg)

[2017-11-24 22:53] ApostolosB commented on #21
Tried it on weston and i get the same behavior. So we rule out enlightenment having anything to do with it. On monday i'll discuss it with derek.

[2017-11-24 22:55] wltjr commented on #4
Here is edi doing it as well, edi Desktop/fgdga.txt. No edi window, just what you see in htop
![shot-2017-11-24_17-54-25](https://user-images.githubusercontent.com/12835340/33225175-b183ad5e-d140-11e7-8818-db9084a5ecf2.jpg)

[2017-11-24 22:57] wltjr commented on #21
E has its own widgets and stuff. Only really if there was ecrire issues window manager related,title bar, positioning etc. Ecrire uses pure EFL code. It does not need E at all. You can run ecrire outside of E like Terminology. Just need EFL :)

[2017-11-25 13:56] ApostolosB commented on #4
Tried edi on my git system (a really slow one). Same behavior as with ecrire on it. 100%cpu, nothing on the screen and memory going up. At least the result is not as explosive as on my stable system.
Also tested l3afpad with the file and opened it without an issue.

[2017-11-25 15:09] NuLogicSystems commented on #4
Same here, issue still present using efl-git.

[2017-11-26 13:39] Peter2121 opened #25 "Problem with copy/paste buffer"
When I paste something to Ecrire from another application (for example, from Firefox) and then close Ecrire - the source application (Firefox) craches. Sometimes, another application craches too (Thunderbird). I think that the management of copy/paste buffer in Ecrire is not correct, so it frees a memory region, used by another application.

[2017-11-26 13:58] ApostolosB commented on #24
@wltjr Tested adding a bryce and works like a charm (wayland stable&git e/efl). If its something with X i don't know, i don't use it anymore. The only think i can suggest is backing up .e and .elementary and see it it will work - if you haven't done this already.

Regarding copy paste there is only one issue i am aware of (T6284 on phab) and other than that it works for everything i copy pasted ev

[2017-11-26 18:41] wltjr commented on #25
That would be a EFL or elm_code issue. There is not really any copy/paste code. I just call those functions, [elm_code_widget_selection_copy](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L535) and [elm_code_widget_selection_paste](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L5490) , of elm_code. Also a [little bit](https://github.com/Obsidia

[2017-11-26 18:45] wltjr commented on #24
I can try nuking that. I have a pretty clean one as when I have gone back to 0.21.0 it forced me back to that. But eet does have some major bugs. I tried with 0.22.1. I had to revert my desktop back to 0.21.10 due to daily lock ups. I still have windows that do not render at times under my laptop requiring me to restart E from main menu. 0.22.x has so many issues for me. I doubt its config related

[2017-11-26 19:25] wltjr commented on #25
Check out issue #11 The reason I mention that is it only does the duplicate paste when copying and pasting from outside ecrire into ecrire. It does something odd there. Thus that you are seeing a crash wih another application after copying pasting and closing ecrire. Seems like more issues on handling paste from outside an application.

I would think most everyone to be a big user of copy and past

[2017-11-26 19:39] ApostolosB commented on #25
Tried this on Wayland (xwayland firefox to ecrire) and everything works as expected. Also tried terminology to ecrire and again it works as expected. CnP is a different code path in wayland i think.

Move to wayland people (unless you have many monitors in which case you will have to wait a week or so to land in git or 1.21) 😛

[2017-11-26 19:48] wltjr commented on #25
I am in no rush for Wayland. I experience enough issues under X. I do have many monitors and hot plug, etc. I am pretty sure it will be more than a week. Definitely given issues that may arise once you can even run it on multiple displays and of varying resolution. elm_cnp has different hooks for X and Wayland. Still not ideal from a clipboard application perspective. Any issue with [clipboard](ht

[2017-11-26 21:51] andydotxyz commented on #18
Why should it not be yellow? It certainly looks like a number to me.

[2017-11-26 23:02] Peter2121 commented on #25
I am on X as I am on FreeBSD. Wayland support is minimalist on FreeBSD for the moment, and I think that it's impossible to compile E with Wayland support on FreeBSD.
My version of EFL is 1.20.5, the issue #11 you mentioned is present :(
Hope the both issues will be fixed one day.

[2017-11-27 00:05] wltjr commented on #25
I think we are second class citizens being on X. I think X bugs are 2nd to Wayland bugs. Which wayland work I think is creating many of the X bugs. I get the feeling they rather stop supporting X sooner than later. No matter the practicality or impact. I think that is in part why Moshka exists. Stick to X, not really any work toward wayland. Also the external compositor aspect. I rather that be in

[2017-11-27 00:13] wltjr commented on #18
Yeah you are correct. I was in text mode not code. Being syntax above makes obvious sense. I will remove to not confuse, and back to original issue. Which seems to be related to the line numbers on the left.

Relating to that, it would be nice to have it not be gray and just be what ever color the background is like leafpad or others. Makes it look odd and stands out a bit much. Along with the ali

[2017-11-29 13:27] ApostolosB opened #26 "Ecrire settings freeze the system when ecrire is run from the command line"
##### Description
Description of issue
As the title suggests. EFL app have the ability to run from the command line. The settings being a separate window causes the system to freeze. AFAIK this is the reason the settings of all efl apps are inside the app and not implemented as a separate window.

##### Steps to reproduce
1. Type ecrire to a command line
2. Click Settings
3. Freeze

##### System i

[2017-11-29 14:41] wltjr commented on #26
Odd I am not able to replicate. FYI that is how I run ecrire when I do development. Like when I switched over to the settings. It was always in pop up window. I just changed to naviframe for now since I was running out of vertical space. The one in git.e.org also has a windowed settings dialog. You can see a [screenshot here]. I also switched to the elm wrappers for like ecrire --help, and for the

[2017-11-29 16:18] andydotxyz commented on #18
Resolved upstream https://phab.enlightenment.org/T6444

[2017-11-29 16:25] andydotxyz commented on #22
I have unsubscribed from this thread. The content of the latest message is a continuation of an argument that was already making me feel unwell.

[2017-11-29 17:22] ApostolosB commented on #26
Do you by any chance have X running on another tty? Can you test with nothing else running?

[2017-11-29 18:12] wltjr commented on #26
X is on vt7 here, which should be common the common one. What do you mean nothing else running? No other apps? Do you mean EFL starting from a terminal or something without E running or any graphics?

[2017-11-29 18:12] ApostolosB commented on #26
I mean without X running  on another VT

[2017-11-29 18:15] wltjr commented on #22
@ajwillia-ms the amount of bugs in elm_code,EFL, and E makes me feel unwell. Much less the attitudes of the community. I regret ever taking your suggestion to switch to elm_code... Though being both a man and an adult. I can handle feeling unwell and other stuff...

[2017-11-29 18:32] wltjr commented on #18
Great thanks, many more to go. I will close after next EFL release once no longer visible. Thanks!

[2017-12-01 06:10] NuLogicSystems commented on #11
This is definitely a double past, hitting undo once removed just the duplicate.

[2017-12-03 17:41] wltjr commented on #11
Not sure how to address, need to file bug with upstream on handling of
[code]

Seems like there is a bug there and/or with that + elm_code. Though that it does it every other time vs consistently think is a pretty clear sign of a bug. I guess the above check for clipboard grabs contents as well and causes something to happen there, half the time. There is no check to see if the clipboard has conte

[2017-12-04 16:33] ApostolosB opened #27 "Make input pointer go in the input field when opening or saving at"
##### Description
As the title suggests. When you click open and/or save as the pointer to type the name of the file isn't at the input field of the window that pops open.

##### Steps to reproduce
1. Type something
2. Click Save as
3. You have to click on the input field to give the file a name
...

##### System information
- EFL Version
Stable and git
- E Version
Stable and git
- X or Wayland
Wa

[2017-12-04 16:44] wltjr commented on #27
I think I can address that. Maybe an EFL issue as its a elm widget. I know I cannot do like action on enter. Like if you type in a filename and hit enter it does not save. I wanted to file a bug on that. I will look into ASAP. Thanks for the report!

[2017-12-16 21:05] ApostolosB opened #28 "Kill the animation on start"
##### Description
Description of issue
Not an issue per se but i somehow find it annoying. When you open file with ecrire there is this animation of the text rising from the bottom of the window. Can we eliminate that or add a setting option to not have it. I prefer to double click and show the text file immediately.

##### Steps to reproduce
1. Just double click on a file

##### System informatio

[2017-12-16 21:08] wltjr commented on #28
Yes for sure, I have been meaning to add a configure option for that, enable/disable animations. Even though just the one, maybe others later.

[2017-12-16 21:13] wltjr commented on #10
Slowly working towards tabs. I think I am close having removed most all global variables that hindered such. Not sure about the comparing side by side, but tabs will be coming. No ETA.

[2017-12-16 22:23] ApostolosB commented on #28
Cool. Thanks 😄

[2017-12-17 03:35] wltjr commented on #28
Ok there you go. :) May add more options later, ability to control direction, speed, and maybe other types of animations. But for now a simple check box. On by default, but can turn off. If you have any crashes may need to nuke the ecrire.cfg file. Eet is crash happy at times. Otherwise if any issues please re-open or file a new issue. Thanks

[2017-12-17 03:35] #28 closed

[2017-12-17 14:47] ApostolosB commented on #28
Works fine. Thanks again.

[2017-12-19 13:22] Peter2121 opened #29 "Ecrire issues with Transparency/Alpha"
...compiled with GIT version of EFL. Just white background in the working area, no text.

[2017-12-19 15:55] wltjr commented on #29
Wonderful news, EFL seems to be a mess. They keep breaking the old/legacy API and other issues as they move to EO and also Wayland. Seeing discussions on developer list they do not have a clear path forward. Sadly elm code author rather work on documentation and other things than fixing bugs... Likely not much I can do here other than see if it is fixed with further EFL development before next rel

[2017-12-19 20:10] haxworx commented on #29
Elm Code has never been released as a stable API.  It's probably broken because we're adding more features.

[2017-12-19 20:12] haxworx commented on #29
Also as an application developer why do you encourage users to build against an ever changing EFL git??? They're using unstable release. Your accusations are false and unhelpful.

[2017-12-19 20:18] Peter2121 commented on #29
I think that the return to simple multi-line text widget would be nice, waiting for the stabilization of Elm Code. Personally, I just search for leafpad replacement...

[2017-12-19 20:20] haxworx commented on #29
That sounds reasonable Peter2121

[2017-12-19 20:22] wltjr commented on #29
@haxworx I did not recommend nor suggest ever that anyone should use anything live from git. If you read my comments I specifically say just the opposite...

"Also why I stick to release tarballs vs git"
https://github.com/Obsidian-StudiosInc/ecrire/issues/29#issuecomment-352800638

Regarding using elm_code, that was @ajwillia-ms suggestion that I switch from elm_entry to elm_code sometime back in

[2017-12-19 20:22] haxworx commented on #29
William I think you should strongly consider not using elm_code until it is deemed stable, or you're likely to come across these sorts of issues a lot.

[2017-12-19 20:26] wltjr commented on #29
@haxworx you need to talk to @ajwillia-ms not me... It was recommended I switch to elm_code vs implement line numbers etc on my own... Thanks for missing the back story... I did not switch to elm_code on a whim. It was not my idea and I very much regret.

Given the amount of work I did to switch over I do not feel like switching back. Maybe you should be focusing on working and fixing bugs so thin

[2017-12-19 20:26] haxworx commented on #29
If you want to stay with elm_code am more than happy to discuss changes just prior to "stable" release of EFL and a changed  elm_code. it's too much to work follow and try to stay on top of things if with an ever-changing development EFL.

[2017-12-19 20:27] wltjr commented on #29
@haxworx you need to go speak with @ajwillia-ms and EFL get its act together. Stop harping on me for following what the elm_code author told me... You are coming in after the fact and missing the entire story...

[2017-12-19 20:27] wltjr commented on #29
@haxworx I keep up with development in many places, Java 9... Please this is a EFL community issue. There are many messes created upstream. You all need to get your act together not me...

[2017-12-19 20:27] haxworx commented on #29
We're quite happy working on EFL and elm_code but would not suggest using the elm_code API at the moment as it's in a state of change as we are improving it. Thanks.

[2017-12-19 20:28] wltjr commented on #29
@haxworx how many times do I need to tell you that it was suggested I switch from elm_entry to elm_code? I did not do that without another recommending I do exactly that.... @ajwillia-ms

[2017-12-19 20:29] haxworx commented on #29
Peter2121 I'd suggest looking at the original ecrire which does not use an unstable API.

[2017-12-19 20:33] wltjr commented on #29
@haxworx do you have a problem? I removed all that code, I am not adding it back... I did not do that on a whim. How many times can I say I regret listening to @ajwillia-ms in the first place? I am hardly going to take your advice now... @haxworx  if your not fixing the issue, please do not suggest other routes. You clearly do not understand the time I put into this and I am not looking to repeat

[2017-12-19 20:34] haxworx commented on #29
As I said, prior to a release am more than happy to discuss changes to behaviours.

[2017-12-19 20:34] wltjr commented on #29
@haxworx do you understand beta vs alpha? Go talk to @ajwillia-ms and stop making noise here. Seriously haven't you anything better to do? I surely do and this is not addressing any issues....

[2017-12-19 20:36] haxworx commented on #29
I'm sure you're perfectly capable of thinking for yourself. If you want help prior to a release there's no issue discussing changes to elm_code. So, if you stick to release tarballs like you do, then prior to a release can make time to introduce you to improvements or changes affecting your port.

[2017-12-19 20:39] wltjr commented on #29
@haxworx you should stop doing EFL development. I haven't the time to go discussing changes with authors for all releases. That is called release notes... Major things should not change or break.

If elm_code is what you say. It should not even be in EFL if it is not ready for others to use.... I have asked you politely several times. Please for the last time stop commenting unless you are fixing

[2017-12-19 20:40] haxworx commented on #29
I've some free time, am happy to be here offering help.

[2017-12-19 20:42] wltjr commented on #29
I don't have free time, I am working on Java 9 stuff.... There are plenty of open bugs for you to spend your free time fixing.... I have asked politely to many times. Please stop commenting on this issue.

Unless  you have something of technical value and/or resolving issues. Please do not comment. You are not adding anything of value. Next I will just block which I rather not. But I have other wo

[2017-12-19 20:43] haxworx commented on #29
Thanks William. I'd ask you'd do the same and stop leaving abuse on our mailing list.

[2017-12-19 20:45] wltjr commented on #29
@haxworx you can't handle the truth, your code sucks. If others call you out, you try to turn around and blame it on them. Rather than go fixing your code.... I can leave the mailing list. It surely will not make any of this any better.

Not that EFL or EFL devs care about quality, stability or other issues. Your lack of respect for others time and repeat comments. You have not used please once...

[2017-12-19 20:46] haxworx commented on #29
That would be great if you wouldn't mind.

[2017-12-19 20:46] wltjr commented on #29
@Peter2121 sorry for all that noise. You can see what I am dealing with upstream now... Its a total mess...

[2017-12-19 22:27] andydotxyz commented on #29
@wltjr I will ask this one last time: please stop abusing Enlightenment community developers - that is not an effective way to get better support.

@haxworx is one of our most active EFL app developers and is also a developer of elm_code. He has done lots of great work and does not deserve your abuse.

This issue is not reproducible upstream (check elementary_test) I can’t even think why you are s

[2017-12-19 22:51] wltjr commented on #29
@ajwillia-ms I am not reporting this issue, nor can I replicate as I do not run EFL from git... I did not ask @haxworx to come here. Nothing he said was of benefit. If you think telling someone to stop using elm_code is a solution to technical issues with elm_code. I fail to see how that makes elm_code any better.

@ajwillia-ms I also do not appreciate you recommending me to use something. That an

[2017-12-19 23:03] andydotxyz commented on #29
If you are using a BETA defined API (not declared stable in any release) which you are (see CMakeLists.txt -> "ADD_DEFINITIONS(-DEFL_BETA_API_SUPPORT)" it is requested that you follow it's development. There was a recent discussion about how themes are handled and the usage of some elm_code_widget examples did not work with this change. This applied to all elm widgets, elm_code was one of the widg

[2017-12-19 23:20] wltjr commented on #29
@ajwillia-ms a API you told me to use.... Which you should not have done. You should have just left me alone.... There is also little to no documentation for elm_code. I mentioned that once before. I bet in all your documentation efforts and examples. You have yet to make any docs or examples for elm_code... If it is not ready for such, then you should never tell anyone to develop an application u

[2017-12-19 23:26] wltjr commented on #29
@Peter2121 please test out that commit and see if it resolves the issue for you. I did not see any issues with the change. I guess that is what was causing the issue you were seeing. Though could be others since it seems aspects of the elm_code API is or has changed. Thank you for testing out that change!

[2017-12-20 09:08] Peter2121 commented on #29
The last commit changes something, but I still have problems with the background color (see the screenshot).
There are some errors in console too (probably, menu-related):
[code]
![ecrire](https://user-images.githubusercontent.com/3807655/34199350-c7397bba-e56d-11e7-9c81-196ecd81fd0c.jpg)

[2017-12-20 09:25] Peter2121 commented on #29
It's slightly different (better) with default theme:
![ecrire1](https://user-images.githubusercontent.com/3807655/34200060-0634eee2-e570-11e7-88ef-83a3e533b319.jpg)

[2017-12-20 15:38] wltjr commented on #29
That is pretty strange for all that to be white. Do you have any alpha value set? Can you try adjusting that and see if it makes any difference. Not sure what is going on there.

[2017-12-20 19:42] wltjr commented on #29
Almost seems like 2 issues, EFL and elm_code. The area where the line numbers and text is is elm_code. The white area seems to be EFL. Like the bottom footer where line/column numbers are located, also the search box. That stuff has nothing to do with elm_code. That seems like general EFL/theme issues or something. I may need to set some background on that stuff that was not required before. Not s

[2017-12-20 19:46] wltjr commented on #29
Those console errors definitely come from EFL, its missing parts in its default theme and/or they are changing stuff and have not updated the theme. I opened a few bugs along those lines before losing ability to use my phab account. The first one is on your exact error :) Reported in October and remains months later... I can address in my theme, but they need to fix the default stuff...
https://ph

[2017-12-20 20:53] Peter2121 commented on #29
I think that have the own theme is not so bad. Or at least fallback to it if something is lost in default one.

[2017-12-20 21:03] wltjr commented on #29
I was speaking of my theme [Eminience](https://github.com/Obsidian-StudiosInc/eminence). I can fix those issues in my own theme. I am not sure I could address in any ecrire specific theme. Which I plan to never have a custom theme for ecrire. If I have a theme/edj file for ecrire. it will be for animations, like the animated settings UI in terminology and etui. I plan to make the settings like tha

[2017-12-21 22:09] andydotxyz commented on #23
This is now fixed upstream and will be in a future release. It may not be the next patch relase as it's related to the layout which changed since last major release. That should not be an issue as it was reported against git it would seem.

Not sure what you mean about patches not going upstream, we usually accept contributions...

[2017-12-21 23:27] wltjr commented on #23
Thank you for the update. I will keep this open till the release comes out and update cmake version dependencies so the issue can be closed. Till then best to keep open in case others run into the problem.

Its hard to submit any contributions when you disable ones phab account and same for mailing list. I had to use one of my other email addresses to be on list. Those things discourage rather tha

[2017-12-25 15:16] ApostolosB commented on #23
Yep. Just tested with git and its fixed.

[2017-12-25 15:44] ApostolosB commented on #29
Don't know if this was an issue a few days back but just compiled and works.

[2017-12-26 16:13] wltjr commented on #29
@Peter2121 can you update your EFL from git and see if the problem remains. Thanks!

[2017-12-28 18:22] curious33333369 commented on #10
Good work

[2017-12-28 18:36] wltjr commented on #10
I think one of the last obstacles will be in how I do the actual tabs. It does not seem like Elementary has any tab [containers](https://www.enlightenment.org/_legacy_embed/containerslist.html) or [widgets](https://www.enlightenment.org/_legacy_embed/widgetslist.html). For [epad](https://github.com/JeffHoogland/epad) it used modifications in [python-elm-extensions](https://github.com/JeffHoogland/

[2018-01-27 10:20] Peter2121 commented on #29
The problem remains with the last EFL version, compiled from GIT.

[2018-01-27 15:38] wltjr commented on #29
@Peter2121 are you back to the original issue? Did the white area ever go away?

[2018-01-27 20:28] Peter2121 commented on #29
With the default theme I have the same picture as I posted 20/12. The white area is still here.

[2018-01-27 20:46] wltjr commented on #29
Ok thanks good to know. I avoid any EFL/E git stuff as it seems problematic, and not sure what will remain come next release. I will likely wait till closer to or just after release and fix any issues. No clue what is going on I try to follow development. Seems like there should be a 2.x with Wayland, EO, etc but not sure. They are doing it all on 1.x, and its interesting. I cannot even run E 22.1

[2018-02-02 16:07] andydotxyz commented on #29
It seems strange to level this squarely at EFL. The issue cannot be replicated in any Elementary tests or other users of the elm_code API.
Isn't it possible there may be an error in ecrire that could be fixed to solve this?...

[2018-02-02 17:16] wltjr commented on #29
If it is an error in Ecrire, it is happening due to changes in EFL. Take that how ever you will. Typically in other situations, if a toolkit changes and breaks applications. They tend to not blame the applications. There are no real users of elm_code other than ecrire and edi. Given the number of other issues open for some time that are confirmed elm_code. Really hard to have confidence that it is

[2018-02-02 17:57] wltjr commented on #29
My plan here is to wait till next release of EFL. See what the status is and address any changes in Ecrire to fix as needed, if needed by then. I do not run EFL from git, and do not really have time to test such.

[2018-02-02 19:47] andydotxyz commented on #29
Efl does commit to not breaking published, public apis. Elm_code sadly is still in beta and so is not quite the same. The change to which you refer was due to a move in EFL interfaces which are also still unreleased.

Apologies if there was some confusion here.

[2018-02-02 20:15] wltjr commented on #29
No worries I understand. Its why I do not run it from git, as things may change etc. I understand elm_code to be beta as well. Though usually stuff does not change as much in beta. All just reasons to see where things stand come next release. It works with EFL 1.20.6. Anyone choosing to use git risks the issues. Not sure how to make that more known to them, any warnings likely would not be seen.

[2018-02-20 17:17] wltjr commented on #29
Testing EFL 1.20.7-pre I am not seeing any issues. I think this is a git issue, if it still exists. I may modify build system to prevent building against git. Since such issues will not be resolved till EFL release. Which the same blockers should prevent that till its known to work. Not sure if we should keep this open. If it does, I will add a git tag to reflect this issue only exists when using

[2018-02-21 03:15] wltjr commented on #27
I am not sure it is possible to focus on the entry field. I think it is an EFL deficiency. I need to confirm, but I [came across this](https://github.com/Enlightenment/efl/blob/master/src/lib/elementary/elc_fileselector.c#L3) that seems to hint as to such. I have been trying to look at the source code. I am not sure how to access the elements without some patch or modification to ```elm_fileselect

[2018-02-21 03:23] wltjr commented on #14
@ajwillia-ms this still exists in 1.20.7-pre. Not sure if anything was fixed in EFL regarding focus or an elm_code specific issue. I can replicate in Elementary tests and EDI. Just as said above. The cursor goes away is the obvious tell.

After the first paste from right click, the cursor is at the end of the pasted text. When you right click and paste again, the 2nd time. The cursor does not show

[2018-02-21 03:36] wltjr commented on #21
I still cannot replicate this on X, EFL 1.20.7-pre. I think this is something Wayland and EFL specific, maybe a bug in EFL in Wayland.

@ApostolosB  Can you see if that happens on any of the multi-line editors in Elementary Tests. That would show if its general or elm_code specific. Either way I believe this to be Wayland specific. Unless you can test and replicate under X. Thanks!

[2018-02-21 03:38] wltjr commented on #26
Are you able to start other applications like that? Like rage, or ephoto? I would need to be able to have some application I could start from command line. Not sure I have any that work short of Wayland and I cannot get that running yet. Pretty sure X cannot be started that way, short of startx or something.

[2018-02-21 03:52] wltjr opened #30 "Remove files from "Recent Files" that no longer exist"
##### Description
Attempt to open a recent file that no longer exists. It remains in recent files list. It also tries to open the MIA files and saves an incorrect path.

##### Steps to reproduce
1. Go to Open a file
2. Select a Recent File that no longer exists
3. The file remains in the list

[2018-02-21 05:48] #19 closed

[2018-02-22 15:31] wltjr commented on #25
@Peter2121 are you still experiencing this issue? I am not able to replicate.

If you are still experiencing this, is it just Firefox and Thunderbird or other apps? I assume non EFL apps like GTK etc. If it is just Mozilla applications that would be interesting.

[2018-02-22 15:34] wltjr commented on #11
Still present in 1.20.7-pre. Seems like this will exist til elm_cnp is furthered to support a buffer check operation.

[2018-03-03 05:01] wltjr commented on #18
Resolved in EFL 1.20.7. Thanks @ajwillia-ms

[2018-03-03 05:01] #18 closed

[2018-03-03 05:02] wltjr commented on #23
@ApostolosB can you test in EFL 1.20.7. We can close this if its resolve in that version. Thanks!

[2018-03-12 14:57] ApostolosB commented on #23
Yep works on 1.20.7. However it revealed another issue. If you click outside the text lines and try to select it doesn't.

[2018-03-12 15:03] ApostolosB commented on #21
https://phab.enlightenment.org/T6422
its this i believe

[2018-03-12 15:07] wltjr commented on #21
Ok thanks! To bad github does not have a field for URLs. I will keep an eye on that upstream task.

[2018-03-12 15:09] wltjr commented on #23
We can leave this open, or file a new one. Can you provide exact steps to reproduce? Thank you!

[2018-03-12 21:11] ApostolosB commented on #23
i'll file a new one.

[2018-03-12 21:11] #23 closed

[2018-03-12 21:20] ApostolosB opened #31 "Text selection doesn't happen if you click outside the text lines"
##### Description
Description of issue
You click outside the lines of text and moving the pointer to the lines of text doesn't turn them blue.
##### Steps to reproduce
1. Open a file with multiple text lines.
2. Click outside (below) the last text line and drag your cursor to select the text
3. Nothing happens.
...

##### System information
- EFL Version = 1.20.7 & git
- E Version = 0.22.1 & git
-

[2018-03-12 21:32] wltjr commented on #31
I see what you mean here, thanks for the steps and break down. Basically, with line numbers on elm_code, if you do not click on a numbered line, it does not select text. That maybe by design, not sure.

Another way to say, based on coloring. if you do not click within the gray text area. It will not select text. If you click on the black area, and then enter the gray area. It does not select the t

[2018-03-12 21:41] wltjr commented on #31
There is another issue that is related, and could use another issue/task. Right click context menus only show in the gray area/lines of text, not in the black area. Other editors seem to show the context menu anywhere in the editor area regardless of the amount of lines of text. Like selection they seem to end up on last line.

In leafpad for example. I can have 10 lines, and empty area beneath. I

[2018-03-13 16:42] ApostolosB commented on #31
upstream > https://phab.enlightenment.org/T6773

[2018-03-13 16:43] wltjr commented on #31
Nice thank you! May need one for the context stuff as well, right click menu. Hopefully someday they will re-enable my phab account... Much appreciated since I cannot file upstream!!!

[2018-03-13 23:34] wltjr commented on #31
Just realized my color description is specific to my theme [eminence](https://github.com/Obsidian-StudiosInc/eminence).
![shot-2018-03-13_19-32-54](https://user-images.githubusercontent.com/12835340/37375348-83aa59a4-26f5-11e8-8964-b3e22d7ab9ad.jpg)
I need to make it all one color and other things

[2018-06-04 08:19] ApostolosB opened #32 "Crash on close"
##### Description
Description of issue

App crashes on close

##### Steps to reproduce

1. Open ecrire
2. Type something
3. Close from the X on the top bar
4. Hit discard.

##### System information
- EFL Version = git
- E Version = git
- X or Wayland = Wayland

[2018-06-04 08:25] ApostolosB opened #33 "Blinking cursor not in the right place on start"
##### Description
Description of issue

https://www.enlightenment.org/ss/display.php?image=e-5b14f696376180.05382213.png

##### Steps to reproduce
1. Just open ecrire. Happens only on start. If you focus/unfocus it goes away

##### System information
- EFL Version = git
- E Version = git
- X or Wayland = Wayland

[2018-06-04 13:21] wltjr commented on #32
Issues are to be expected against git till next release. I likely need to update build system to prevent build against git. I do not run efl or e from git, and have no plans to do such for testing. To many things break in git. A week or so ago E was broken due to efl git changes. Still seems work is being done there. Maybe check closer to an actual release. They should be working towards one, but

[2018-06-04 13:23] wltjr commented on #33
That sounds like a regression in git. I feel like that was an issue long ago. I recall it being such. Can you check in elm_tests. I suspect it should be similar. Not sure about edi. Either way I do nothing with cursor placement. That is likely something with elm_code.

[2018-06-04 13:26] wltjr commented on #33
I reported this in https://phab.enlightenment.org/T5511. But then the cursor was in the toolbar area around New button. Seems you provided a screenshot at the time. Not sure if it is related. But more of the same from before it seems.

[2018-07-24 09:16] andydotxyz commented on #22
This was kindly fixed upstream by netstar

[2018-07-24 09:17] andydotxyz commented on #21
It looks like this was resolved upstream 4 months ago

[2018-07-24 09:18] andydotxyz commented on #15
Pretty sure this has been resolved upstream

[2018-07-24 13:41] wltjr commented on #22
Great thanks @haxworx and @ajwillia-ms! I will close it once EFL 1.21 is released. Thanks!

[2018-07-24 13:42] wltjr commented on #21
Great thanks @ajwillia-ms! I will close it once EFL 1.21 is released. Thanks!

[2018-07-24 13:42] wltjr commented on #15
Great thanks @ajwillia-ms! I will close it once EFL 1.21 is released. Thanks!

[2018-07-25 19:22] wltjr commented on #29
@Peter2121 I am able to confirm this issue with EFL 1.21_beta1. I will see what I need to do in order to fix. Which will make ecrire require 1.21+. Pretty sure any changes will break it for 1.20. Fun stuff... :face_with_head_bandage:

[2018-07-25 21:02] wltjr commented on #29
It is a little better now, the main area of elm_code is no longer white. I assume integers that were unsigned when signed ones were wanted were causing that problem. The bottom bar is still white, so something is still off. It is spitting out a ton of stuff on shutdown and other stuff when running.

[2018-07-25 23:49] wltjr commented on #29
The issue seems to come from a change in how transparency is handled in EFL 1.21. It is the alpha setting causing the issues. If you max it out to 100% alpha, no transparency. Then close and open, everything should be a solid color depending on theme. I am working on a solution now that I have narrowed down the problem. It did not exist at all in EFL 1.20. I can make an ecrire window pretty transp

[2018-07-26 00:38] wltjr commented on #29
In fixing that, the bottom area now has no background on EFL 1.20 or 1.21... I will open a new issue for that.

[2018-07-26 00:41] wltjr opened #34 "Background removal caused non adjustable transparent bottom box"
##### Description
In fixing issue #29 removing the background caused the bottom box to become transparent. Seems a background is needed, but the previous way was not respecting the alpha value. It was never transparent, which caused it to become white. Inversion switched that to black, but was unable to get any transparency. Maybe an issue in EFL, not sure.

##### System information
- EFL 1.20 or

[2018-07-26 01:04] wltjr commented on #34
Looks like some sort of issue or regression in ```efl_bg_add```. The object it creates does not respect alpha values at all using ```evas_object_color_set``` It is always a solid color.

[2018-07-27 02:15] wltjr commented on #32
I am seeing this as well. I believe I know where the problem resides. Result of a change to move towards tabs. Making a global variable local. When you go to close, it may not have the right local variable, or it was lost along the way. Not sure exactly, but it is [this exact line causing](https://github.com/Obsidian-StudiosInc/ecrire/blob/v0.3.1/src/bin/main.c#L576) the issue, based on the value

[2018-07-27 19:27] wltjr commented on #29
Turns out this is an upstream issue as mentioned in https://github.com/Obsidian-StudiosInc/ecrire/issues/34#issuecomment-407943202. There are issues with setting the alpha value for elm_bg. It is no longer respected. Thus the window was white.

[2018-07-27 19:28] haxworx commented on #29
There are issues.

We've introduced theming support. This is probably causing you problems.

On a lighter note you now have accesss to 4 colour-schemes.

On Fri, Jul 27, 2018 at 8:27 PM, William L Thomson Jr <
notifications@github.com> wrote:

[2018-07-27 19:40] wltjr commented on #29
@haxworx this issue is not a elm_code issue. It is a elm_bg issue. Something changed with elm_bg. It no longer respects alpha value, ```evas_object_color_set``` on object created by ```elm_bg_add```. The rest of the objects still respect alpha and become transparent. At the moment the bottom bar of Ecrire is fully transparent as is the window.

I did have to fix other calls to ```evas_object_color

[2018-07-27 19:48] wltjr commented on #29
If you do this, it should be gray and transparent. It ends up being solid gray. The alpha value is not respected it is always solid. never transparent. The alpha value should cause the object to become transparent or solid.
[code]

That is what caused this issue initially. f019671 was necessary to fix transparency on other items. But the background still ends up solid despite that change. Which is

[2018-07-30 16:23] wltjr commented on #15
Confirmed resolved in 1.21, will close once released.

[2018-07-30 16:23] wltjr commented on #22
Confirmed resolved in 1.21, will close once released.

[2018-07-31 00:47] wltjr commented on #32
Looks like this maybe a issue in EFL 1.21. This does not happen in EFL 1.20. In EFL 1.21 Ecrire segfaults on close of open document via window border X, main menu close, or toolbar close. Rather than close the document and exit normally, close entire UI, Ecrire segfaults.

@ajwillia-ms, @haxworx please see the following back trace. This only happens with an open document. When you go to close via

[2018-08-01 04:27] #30 closed

[2018-08-01 16:12] wltjr commented on #29
This is what the problem reported in the initial comment looks like
![e-5b61d949eb4750 77893733](https://user-images.githubusercontent.com/12835340/43533766-9f7b9c72-9583-11e8-8386-f0574fafe5ad.jpg)

Switching to pre-multiple alpha fixed most objects in f019671. I had to remove the background in  51eb5af so the other transparent objects can be transparent looks like this.
![e-5b61da2bc8b097 983975

[2018-08-01 23:25] wltjr commented on #27
I will either have to re-code a similar widget in ecrire, or submit a patch/PR to modify EFL to allow such. Short of either, there is no means presently to focus on the entry field. Likely create a PR for upstream, as it is likely easier to do that than to re-code. Though I may re-code as I rather have a list for the recent files, than a drop down select box. Which has its own issues based on usag

[2018-08-02 01:13] #16 closed

[2018-08-02 01:15] wltjr commented on #26
This should be resolved now. Please test and close if the issue is resolved, thank you!

[2018-08-02 02:08] yurivict opened #35 "Please add the cmake option variable to enable/disable NLS"
When the port option is set to OFF it should be able to turn it off.

Thanks!

[2018-08-02 02:15] yurivict commented on #35
Currently, the build fails when gettext isn't found. Also the library ```libintl``` shouldn't be linked when it is disabled.

[2018-08-02 02:53] wltjr commented on #35
Thanks for the report! I am looking into making the necessary changes. The ```libintl``` was added for FreeBSD in issue #1. It should have been added to the conditional for gettext. Which I will add another conditional based on a NLS option.

[2018-08-02 03:25] wltjr commented on #35
This e57ef1c should fix the issue, though need to confirm ```ENABLE_NLS``` works on FreeBSD.  But it should fix any issues with that disabled, unset or ```ENABLE_NLS=false``` or other acceptable disable format.

[2018-08-02 03:37] yurivict commented on #35
You need to remove calls to ```libintl_bindtextdomain``` when ```NLS=off```.

[2018-08-02 04:00] wltjr commented on #35
Thanks see if c6c81eb fixes that. Not sure why that did not fail for me in test builds with ```ENABLE_NLS``` not set. It was not making the PO files. This was all pre-existing from when I took over the project. Thanks for helping to improve with testing and reporting issues!

[2018-08-02 04:09] yurivict commented on #35
Now it works fine on FreeBSD, thanks!

[2018-08-02 04:14] wltjr commented on #35
Great, is that both ways, NLS enabled and disabled? If your able to test both. Sounds like it definitely works for at least disabled. Thanks for testing and reporting!

[2018-08-02 04:21] yurivict commented on #35
Yes, for both NLS enabled and disabled.Thanks for fixing it!

[2018-08-02 04:23] wltjr commented on #35
Excellent, and you are welcome. Let me know if you encounter any other issues. Thanks!

[2018-08-03 02:39] wltjr commented on #24
@ApostolosB still not able to replicate this with EFL 1.21-beta1. Can you confirm this still exists? Thanks!

[2018-08-03 02:51] wltjr commented on #25
@Peter2121 ping again, will close unless I hear otherwise. I am not able to replicate. Though do not copy and paste into Ecrire to much. Since I cannot via 3rd button which I use more than anything else.

[2018-08-03 03:01] wltjr commented on #32
Think this is ecrire specific. It does not happen if you use close from the toolbar, which closes an open document and exits ecrire. But if you hit exit from main menu or from window border close button, it segfaults. Only on EFL 1.21-beta1 not EFL 1.20.7 for what ever reason.

[2018-08-03 03:24] wltjr commented on #32
This should be resolved now. Please test and close if the issue is resolved, thank you!

[2018-08-03 07:46] ApostolosB commented on #26
Fixed.  Thanks.

[2018-08-03 07:46] #26 closed

[2018-08-03 07:47] ApostolosB commented on #32
Yep.

[2018-08-03 07:47] #32 closed

[2018-08-03 07:56] ApostolosB commented on #24
Not able to rep. Closing.

[2018-08-03 07:56] #24 closed

[2018-08-03 13:28] wltjr commented on #11
This is fixed in 1.21-beta1, however there is a new right click paste issue. If you right click and paste, you cannot type until elm_code loses and regains focus. Clicking else where or outside the window makes it such you can type again. May need to open a new issue and close this one once EFL 1.21 is released, unless that is also fixed.

[2018-08-03 14:15] NuLogicSystems commented on #11
I couldn't compile EFL 1.20-beta 1, thus I gave up.
I'll test this once EFL 1.21 hit's final (released).
Until then, I'm good.
I can always hit undo when doubles up.

[2018-08-03 14:33] wltjr commented on #11
Why could you not compile 1.21-beta1? Alpha was missing a file, but beta seems ok. Either way seems both issues are resolved in git, so when ever 1.21 is released.

[2018-08-03 14:34] wltjr commented on #14
Ah I just came across this, but after talking to @haxworx seems its resolved in git, so will close when 1.21 is released.

[2018-08-03 16:41] NuLogicSystems commented on #11
Yes, alpha 1 was missing a file, however even after pulling the tarball from git, it would lock up during compile, so I just gave up. Besides, this would only benefit me since I don't distribute pre-release packages in my repository any longer. Well, at least not ones that actually have a release. ;)

[2018-08-03 17:02] wltjr commented on #11
Interesting, wonder if it is the combo of options being used. I have built it a few times with no issues. Have you tried directly from git? Maybe some issue in the beta release. Hopefully not something that ends up in the final release. Have you opened an task in phab? If not and still exists in git I would. Either way something I hope I do not experience, but good to be aware of in case I do, tha

[2018-08-03 18:06] NuLogicSystems commented on #11
No, I only tried the alpha, and the issue was doxygen.
I just didn't care enough to run the build again without compiling the docs.
AKA it's not important enough to fiddle with since a alpha, beta or rc, would never make it to my repository anyway .;)

[2018-08-03 18:55] wltjr commented on #11
Well just so it does not end up in final release. I believe Bryce Harrington has been working on the docs, per [this post in mailing list](https://sourceforge.net/p/enlightenment/mailman/enlightenment-devel/thread/CAHwmOzfHhjdN9%3DnG-xXT4HEX2SmEU%2BucEzCoV%2B1GJdEYX19AYA%40mail.gmail.com/#msg36376495). May want to bring it to his attention. I never build the docs, so have not run into that. I gues

[2018-08-03 19:20] NuLogicSystems commented on #11
Agreed, and I do appreciate beta testers as much as the next guy.
It's just that I don't have the interest to be one anymore.
Well, at least not like I once used to. ;)

[2018-08-07 16:10] ApostolosB commented on #34
@wltjr can you check it this is fixed?

[2018-08-07 16:49] wltjr commented on #34
I am waiting on upstream to figure out the regressions with elm_bg. There is some problem where the background does not respect transparency. If I add it back, it lose it else where. Though I may since once they fix it upstream, it will be fixed here. Likely better to have no transparency than transparent bottom.

[2018-08-07 16:54] ApostolosB commented on #34
Mike said he fixed some stuff and doesn't see it on his machine. I get it on mine (git). No idea what is going on.

[2018-08-07 17:07] wltjr commented on #34
Give me a bit I will add back the background and you can build from git. Worse case you do not get transparency. I fixed the all white issue, which is sort of related. Before the RGB and Alpha did not effect each other, they were independent. They switched to premultipled colors. Where the RGB cannot be greater than the Alpha and ends up like Ra, Ba, Ga, where the alpha is part of each. So i just

[2018-08-07 17:38] #34 closed

[2018-08-07 17:43] wltjr commented on #29
This is what happens when I set Alpha on elm_bg in 1.21. The first is no alpha the 2nd is full alpha, thus all white/gray. Other elements alpha works but not elm_bg. When other stuff becomes transparent you see more of the white/gray background.

No alpha on elm_bg -> RGBA set to  255
![shot-2018-08-07_13-40-24](https://user-images.githubusercontent.com/12835340/43792710-9272327a-9a47-11e8-83e1-20

[2018-08-07 19:07] ApostolosB commented on #34
yep. the alpha slider in settings doesn't do much i believe.

Anyway better than the transparent box.

[2018-08-07 19:17] wltjr commented on #34
It makes the inner stuff transparent, but with a solid background it just reduces visibility. It still works in EFL 1.20.7 but not 1.21-beta1. Not sure about git, I have to add back alpha adjustment on background. If I add it for 1.21* or git, it looks like https://github.com/Obsidian-StudiosInc/ecrire/issues/29#issuecomment-411141830

[2018-08-07 20:43] ApostolosB commented on #34
TBH i am ok with the fixed transparent bottom box. I don't see a use for transparent backgrounds. For my use cases at least.

Thanks for the fix.

[2018-08-07 22:10] wltjr commented on #34
The transparency is pretty moot. It was just something that could be done in EFL, thus showing that off. I do like it for some things. My terminology backgrounds are transparent. Though it was something I added to my theme, so windows become transparent on drag. Still miss wobbly windows.

[2018-08-19 03:18] NuLogicSystems opened #36 "No text visible with EFL 1.21.0"
Tittle explains it all:
http://www.enlightenment.org/ss/e-5b78e171c77f99.01431619.jpg

[2018-08-19 18:27] wltjr commented on #36
I am not able to replicate this. Text shows for me using latest tag, which is presently the same as git head. Need to find a way to replicate in order to address.

[2018-08-19 18:53] NuLogicSystems commented on #36
It was my Manjaro dark theme that was based on the elementary default theme.
Evidently they changed the way the elementery advanced entries work, they now use the theme.
So now, I need to update my Manjaro theme again to merge in the changes required for the advanced entries to work properly.
I totally forgot that I posted this issue here, I apologize for that.

[2018-08-19 18:53] #36 closed

[2018-08-19 18:59] wltjr commented on #36
No worries, they had some theme related issue with elm_code so was not sure if that was related or not. You can theme aspects of elm_code now you could not before. I [added one](https://github.com/Obsidian-StudiosInc/eminence/blob/master/src/elementary/edc/elm/code.edc) to my theme eminence. you may want to reference. Basically [same as in EFL](https://github.com/Enlightenment/efl/blob/master/data

[2018-08-19 19:19] NuLogicSystems commented on #36
Yes, elm_code is the issue I think.
It's these tests that gave me the issue:
https://www.enlightenment.org/ss/display.php?image=e-5b79be9527ec23.05179944.jpg

Nothing else in elm test did.
Ecrire just happened to be the place that I first noticed the issue.

[2018-08-19 19:33] wltjr commented on #14
Tested in released EFL 1.21.0. I could not replicate the original issue. Able to type text after right click paste. Seems resolved, closing.

[2018-08-19 19:33] #14 closed

[2018-08-19 19:35] wltjr commented on #11
Tested in released EFL 1.21.0. I could not replicate the original issue. No duplicate pastes from right click. Seems resolved, closing.

[2018-08-19 19:35] #11 closed

[2018-08-19 19:36] wltjr commented on #15
Able to scroll to the right on long lines. Only on that line, but that is better than before, closing.

[2018-08-19 19:36] #15 closed

[2018-08-19 19:38] wltjr commented on #21
@ApostolosB can you confirm this is resolved. I do not believe I could ever replicate. It seems to be resolved upstream in 1.21.0 and git. Thanks!

[2018-08-19 19:39] wltjr commented on #22
Confirmed resolved in released 1.21.0, closing.

[2018-08-19 19:39] #22 closed

[2018-08-19 19:45] wltjr commented on #33
@ApostolosB can you see if this still occurs in EFL 1.21.0, or git. Thanks!

[2018-08-19 21:35] wltjr commented on #25
Without further information and confirmation this still occurs. I am going to close this for now. Please file a new issue if it is still taking place. Thank you!

[2018-08-19 21:35] #25 closed

[2018-08-25 02:57] wltjr commented on #29
I am pretty sure commit Enlightenment/efl@25136dd or Enlightenment/efl@81ba035 broke transparency on backgrounds. I have reviewed the [transparency code in edi](https://github.com/Enlightenment/edi/blob/273384d916fa3eeb7d97c735bf4e339306afb6f5/src/bin/edi_theme.c#L20), and doing the same in ecrire. I still end up with the same as above.

The only way to get the color is via the new API
[code]
But

[2018-08-27 19:53] wltjr opened #37 "[efl] efl_part function causes Inner windows to be off center"
##### Description
The function ```efl_part``` is causing the inner windows to be off center. If I comment out [this line](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L1033), the windows are centered properly.

##### System information
- EFL 1.20.7 and 1.21.0

It now looks like this
![e-5b8455bec74285 55528909](https://user-images.githubusercontent.com/12835340/44682412

[2018-08-27 20:06] wltjr commented on #37
This also broke the file dialog....
![e-5b84580606d8f6 96730834](https://user-images.githubusercontent.com/12835340/44682795-637bef80-aa12-11e8-9c1b-7a6aea51181b.jpg)

It used to look like this...
![e-5b8458190174c9 56184887](https://user-images.githubusercontent.com/12835340/44682858-92926100-aa12-11e8-80f9-fffb9b1bc9e2.jpg)

[2018-08-27 22:14] wltjr commented on #37
The function ```efl_part``` is what is causing the inner windows to be off center. If I comment out [this line](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/main.c#L1033), the windows are centered properly.

[2018-08-28 06:41] ApostolosB commented on #33
1.21.0 no. Git doesn't compile at the moment for me -for whatever reason- so i can't test there.

[2018-08-28 06:43] ApostolosB commented on #21
Seems ok in 1.21.0.

[2018-08-28 12:45] wltjr commented on #21
Ok will close as resolved. If not I can re-open or file a new issue. Thanks!

[2018-08-28 12:45] #21 closed

[2018-08-28 17:39] wltjr commented on #33
I assume you mean EFL git. If that is the case I will go ahead and close this as resolved. Since its fixed in 1.21.0. Thanks!

[2018-08-28 17:39] #33 closed

[2018-08-28 21:22] ApostolosB opened #38 "Crash when closing with a file"
##### Description
Description of issue
Crash when closing ecrire with text displayed

##### Steps to reproduce
1. Open a file
2. CLose ecrire from the X on the top bar

##### System information
- EFL Version = 1.21.0
- E Version = 0.22.4
- X or Wayland = wayland

BT:
[code]
Discussion here > https://phab.enlightenment.org/T7353 most likely an ecrire issue.

[2018-08-28 22:15] wltjr commented on #38
Sounds like #32 is back. It is some what ecrire specific. Its very odd, as the same code is used on window close as regular document close. I will see if I can resolve it for good this time. I thought I had it last time, but I guess not. It seems shutdown is different from the window close than from other means like closing the document using the close button on the toolbar. Or opening a new docum

[2018-08-28 23:42] #38 closed

[2018-08-28 23:44] wltjr commented on #38
@ApostolosB that should fix the issue, if not I can re-open. Seems to work for me. It did crash before the change. Thanks for the link to the upstream issue, and their suggestions. Thanks to @haxworx for the suggested fixes.

[2018-08-28 23:56] wltjr opened #39 "Refactor code to alert if need saving without both main menu and toolbar"
##### Description
The present logic for alerting on close of a modified document relies on boolean checks from either main menu or toolbar. If neither are present, the conditionals fail and there is no alert to save or discard the modified document.

##### Steps to reproduce
1. Open ecrire with or without a document
2. Go to settings
3. Uncheck both main menu and toolbar
4. Modify the document
5.

[2018-08-29 01:44] #37 closed

[2018-08-30 07:01] ApostolosB commented on #38
Fixed. Thanks.

[2018-08-31 00:40] #39 closed

[2018-08-31 00:42] wltjr commented on #5
@ApostolosB  Pretty sure with recent changes I made today this is now fully resolved. Using both buttons and ctrl-z/y, both redo and undo seem to function as expected now. Neither say highlighted when you can no longer do either redo or undo. If you can confirm and close if resolved for you. Thank you!

[2018-09-02 08:24] ApostolosB commented on #5
Seems ok. Thanks :)

[2018-09-09 12:12] ApostolosB opened #40 "Save dialog issues"
##### Description
Description of issue
Save dialog of a new file doesn't appear in the center of the window

##### Steps to reproduce
1. Open ecrire
2. Type something
3. Hit Save
4. ...
5. Profit > https://www.enlightenment.org/ss/display.php?image=e-5b950df1822884.63839290.png top left

##### System information
- EFL Version = 1.21
- E Version = 0.22.4
- X or Wayland = wayland

[2018-09-09 12:19] ApostolosB opened #41 "Save and Save As don't stay highlighted after a second change"
##### Description
Description of issue
As the title suggests

##### Steps to reproduce
1. Open a file
2. Change something
3. Save highlights > Click it
4. Change something again
5. Save doesn't get highlighted.
...

##### System information
- EFL Version = 1.21
- E Version = 0.22.4
- X or Wayland = wayland

[2018-09-09 12:22] ApostolosB opened #42 "Saving after hiting the X to close on the top bar doesn't make Ecrire close"
##### Description
Description of issue
Closing from X and selecting save  from the popup doesnt close ecrire.

##### Steps to reproduce
1. Open ecrire
2. Type something
3. Hit X to close
4. Choose save from the popup
5. Ecrire doesn't close. (no idea if it saves though). Expected behavior should be save and exit.

##### System information
- EFL Version = 1.21
- E Version = 0.22.4
- X or Wayland =

[2018-09-09 14:22] wltjr commented on #40
Wonder if this is wayland related. I saw the same and fixed the issue under X. See the screenshots in  issue #37. It is likely settings dialog is also off centered. Not sure why it still is present under wayland.

[2018-09-09 14:33] wltjr commented on #42
I need to add more logic here so it remembers the close action triggered the file save and should exit after. Right now it just uses the regular file save logic. Which does not close after. Only if you discard does it close. Same with using the file close button.

[2018-09-09 15:24] ApostolosB commented on #42
Yes. Discard closes.

[2018-09-09 15:28] ApostolosB commented on #40
Settings are centered. If you resize with settings open things don't look good.

Ie. > https://www.enlightenment.org/ss/display.php?image=e-5b953bfc855331.08438811.png

[2018-09-10 00:00] wltjr commented on #40
That is odd about settings being centered but not the file dialog. Before settings was slightly off in my first comments on #37. I will have to look into getting settings bound to the window. Like the save, discard, cancel dialog. That is a popup vs inwin, so bit different. But that does resize when the window is resized. Nothing else does file nor settings

[2018-09-10 02:07] wltjr opened #43 "Segmentation fault and crash on save as"
##### Description
When saving as a new file or a recent file it crashes with a segfault

##### Steps to reproduce
1. Create a new file or open a new one
2. Modify document
3. Click save as
4. Select a recent file or enter a new file name
5. Click ok/crash
...

[2018-09-10 02:16] #42 closed

[2018-09-10 02:18] #41 closed

[2018-09-10 02:18] wltjr commented on #41
This should be resolved now

[2018-09-10 02:19] wltjr commented on #42
This should be fixed now.

[2018-09-10 17:27] wltjr commented on #40
@ApostolosB see if recent changes makes any difference. I did fix the re-sizing issue with settings. Not sure why settings is centered properly and the file dialog is not. Really curious what happens with the file dialog when you resize. Since it starts off centered. I wonder if that ever corrects with the recent changes. Likely no change with settings, other than it re-sizing when the window is r

[2018-09-10 17:35] wltjr commented on #40
Hopefully that last commit fixes the centering issue with the file dialog. I was settings its geometry using values from the config file rather than from the window itself. For settings I got the geometry from the window. That was the main difference between file and settings dialogs. Now it is the same for both. Which should correct the file dialog centering. Since settings was centered correctly

[2018-09-10 20:12] ApostolosB commented on #40
Both seem to work ok unless you resize smaller (in the case of settings also larger -but that is not as ugly) than the size of them where you get:
This:
https://www.enlightenment.org/ss/display.php?image=e-5b96cf2febf050.99870154.png
And this:
https://www.enlightenment.org/ss/display.php?image=e-5b96cfa26a4bf4.85682480.png

This could be an efl bug so i'll ask the devs tomorrow.

[2018-09-10 20:16] ApostolosB commented on #43
Hmmmm. I don't see this.

[2018-09-10 20:23] wltjr commented on #40
I think something is off in Wayland. It looks nothing like that in X11. What does settings look like when larger?

This is what it looks like under X11. I can make it pretty tiny and it is always within the window. Just not really usable when smaller than pictured.
![shot-2018-09-10_16-20-45](https://user-images.githubusercontent.com/12835340/45322279-ce025480-b515-11e8-966b-9bc61a8a1079.jpg)
![sh

[2018-09-10 20:26] wltjr commented on #43
It is happening for me pretty consistently, 2 ways to reproduce.

Existing document
 1. open existing document
 2. save as another
 3. crash (document ends up empty)

Recent document
 1. open recent file from editor (select file from drop down at top)
 2. crash on edit

I am working on the 2nd one. I wanted to get rid of that drop down select box for the recent files. I was thinking some sort of l

[2018-09-10 20:48] ApostolosB commented on #40
Larger:
https://www.enlightenment.org/ss/display.php?image=e-5b96d879e6fbd5.09483499.png

[2018-09-10 20:52] ApostolosB commented on #43
Yep. Reproduced it. Was doing it wrong. Sorry.

[2018-09-10 21:06] wltjr commented on #40
That is what it looked like for me before I made the change to resize when you change window size. Seems like that is not happening in Wayland. It should scale with the window.

[2018-09-10 21:09] wltjr commented on #43
No worries it has a few particular paths to trigger. I can open a file, even a recent file by selecting it in the file navigator. But not if I select it from the drop down recent files list. The crash only happens when you attempt to modify the recently opened document. So seems opening the file is fine, but something else is going wrong causing the crash. Only when the document is opened via sele

[2018-09-10 21:15] wltjr commented on #40
May want to double check you building from latest git head. If you are then my recent changes did not seem to help much. Other than making the file dialog visible again. I guess that is something, but should address the resizing issue as well.

[2018-09-10 22:10] ApostolosB commented on #40
Yep. Git head. Build before i tested and rebuild again just to be sure.

[2018-09-10 22:21] wltjr commented on #40
That seems to confirm there is different behavior under X11 and Wayland. Or there are other changes in EFL if your using git there as well. 1.21.1 is supposed to come out this week. It will be interesting to see what that brings. 1.21 broke entrance and had some new issues effecting ecrire. Still haven't fixed Entrance yet, really odd issue there.

I will see if I can setup a Wayland test env. One

[2018-09-10 23:11] wltjr commented on #40
Just checked under Wayland, and seems a signal was not being fired. Which was used to initiate the resize of the inner dialogs/inwin. The last commits referenced should resolve the issue.

[2018-09-10 23:22] wltjr commented on #40
That showed another problem. Ecrire under Wayland never saved its geometry, if you resized the window. Commit 16776e1 fixed that. That also relied on the "moved" signal. Which for what ever reason is not fired under Wayland. That is why settings was centered but file dialog was not. File dialog used the geometry from config file, which was never saved under Wayland.

I need to recode some of that

[2018-09-11 07:40] ApostolosB commented on #40
Behaves better now. The graphical glitches seem to be enlightenment related and i'll discuss them in the afternoon with the devs.

[2018-09-11 20:05] wltjr commented on #40
Wayland seems to have more than X. I know when I resize a window with a file dialog. The icons seem to dance a bit. Either way sounds like we can close this issue now. Unless you are still experiencing off center dialogs and/or dialogs not resizing.

[2018-09-12 17:41] ApostolosB commented on #40
Closing.

[2018-09-12 17:41] #40 closed

[2018-09-12 20:07] wltjr commented on #40
Cool thanks! I tend to prefer the reporter close any issue as confirmation it is resolved for them. To easy to mark something as resolved for me that is not for another. Thanks!

[2018-11-01 19:31] ApostolosB opened #44 "Save and Save as don't highlight after paste on new doc."
##### Description
Description of issue
As the title suggests. You have to type something in the doc to get them to appear.

##### Steps to reproduce
1. Open a new ecrire win
2. Copy and paste some text
3. The save and save as options are not available
...

##### System information
- EFL Version - 1.21.1
- E Version - 0.22.4
- X or Wayland - Wayland

[2018-11-01 19:40] wltjr commented on #44
Thanks for the report. How are you doing the copy and paste? Via right click, paste button, or 3rd mouse button. I will check all three, just curious if it was any one in particular. I assume all have the same issue.

[2018-11-02 16:56] ApostolosB commented on #44
Tested with middle button, ctrl-c/v, and rclick copy rclick paste and all behave the same.

[2018-11-02 18:31] wltjr commented on #44
Great thanks for checking. Hopefully solving for one should for all. I will work on this ASAP, hopefully later today. I assume redo/undo may need addressing as well. Those usually trigger along with the others to reflect a document has been modified via some means.

[2018-11-11 02:12] #44 closed

[2018-11-11 02:13] wltjr commented on #44
That should fix this issue. If not I will reopen and work on it more. Thanks again for the report!

[2019-04-07 10:37] ApostolosB opened #45 "Ecrire fails with latest git"
##### Description
Description of issue
As the title suggests. It doesn't start neither compiles.

##### Steps to reproduce
1. Try to compile
2. Try to run it

##### System information
- EFL Version > git
- E Version > git
- X or Wayland > wayland

[2019-04-07 16:36] wltjr commented on #45
Thanks for the report! I meant to open an issue on this myself. I noticed the API function name changes during the pre-releases. I fixed the issues on Friday, but I have not pushed them out because they will fail to build here.

I need to find updated EFL packages for Ubuntu, the [niko2040/e19 ppa](https://launchpad.net/~niko2040/+archive/ubuntu/e19) has gone stale. There were never any packages f

[2019-04-16 19:09] ApostolosB commented on #45
There are some .deb files here > https://sparkylinux.org/repo/pool/main/e/efl/

No idea if they'll work with ubuntu (haven't touched that in ages) or destroy your pc, every form of life or whatever.

[2019-04-16 21:04] wltjr commented on #45
Thanks, I may give those a try, worse case it does not work. Its VMs in CIs so not concerned about any destruction.

Ideally I need to build a docker image for EFL apps. I tried to bring such up to the dev community sometime back. I really would like a image that has everything already installed, EFL, Meson, CMake, etc. Anything needed to build EFL apps. I lose a considerable amount of time in CI

[2019-05-07 17:23] wltjr commented on #45
@ApostolosB I made a [docker-efl image](https://hub.docker.com/r/obsidianstudios/efl) last week, but I am not sure if I will switch to that or create my own PPA and deb packages for efl/Ubuntu. Eventually, I will make one for enlightenment as well.

The docker-efl has pros and cons. Ideally, it will be faster to use since packages do not need to be installed. Though, I do need to compare time to d

[2019-05-19 22:54] wltjr commented on #45
@ApostolosB I pushed out the changes in a branch for now, feel free to grab that as a patch. I am in a CI nightmare with EFL... It seems all CI's use older versions of Ubuntu that do not satisfy EFL requirements, need newer versions of some dependencies. The latest any offer is xenial 16.04, and I need at least bionic 18.04. For some odd reason, most CI's still offer Trusty 14.04 now EOL as of Apr

[2019-05-19 22:58] wltjr commented on #45
I may just go back and add in some conditionals on EFL versions so it works for both < 1.22.x and >= 1.22.x. Likely easier way to go at this point... Though does not solve the I need 1.22.x for testing in CI.

[2019-05-22 18:28] wltjr commented on #45
@ApostolosB I broke down and added in conditionals... At least till I can get the EFL CI situation resolved, which is likely not of much interest. I will close this once CI builds run.

I believe I got one in, but not 100%. Github is having some issues preventing any CI's from running. Once those run and pass, I will close this issue. If building from git, may have to force pull after I force push

[2019-05-22 19:29] wltjr commented on #45
CI's passed, issue is resolve, closing.

[2019-05-22 19:29] #45 closed

[2019-05-28 11:44] ApostolosB commented on #45
i get this > https://www.enlightenment.org/ss/display.php?image=e-5ced1e88bd37e2.97919825.jpg

tested on git.

[2019-05-28 14:02] wltjr commented on #45
I assume you built that with Meson? Looks like something is off, the mention of ```version: unknown``` does not look correct. Seems like it installed the CMake files without a version.

[2019-05-30 07:22] ApostolosB commented on #45
Yes. efl is build with meson.

[2019-05-30 14:38] wltjr commented on #45
That maybe a bug in the meson build system, causing the `version: unknown`. You can see what pkg-config finds `pkg-config eo --modversion`, should return a version. May also check the `libeo.so`, and see its version, like `libeo.so.1.22.2`.

I need to work on switching my Gentoo ebuild for EFL over to Meson. Till then, I am still on autotools,  not sure the problem exists there. I need to test, bu

[2019-06-03 10:52] ApostolosB commented on #45
I pinged marcel and he has a fix pending review. I'll test once it lands on git.

[2019-06-03 13:09] wltjr commented on #45
Ok, thank you for doing that!

[2019-06-10 16:45] ApostolosB commented on #45
https://www.enlightenment.org/ss/display.php?image=e-5cfe8907773af1.52301944.jpg

one more obstacle.

[2019-06-10 18:36] wltjr commented on #45
Strange, that seems meson related as well. I cannot replicate with autotools. Not sure there is any way for me to fix, seems like another EFL issue.

[2019-06-12 10:14] jlslinux opened #47 "[efl + meson < 0.52.0] /usr/lib/libefreet_mime.so.1: error adding symbols: DSO missing from command line"
##### Description
Description of issue
ninja package error:

/usr/bin/ld: src/bin/CMakeFiles/ecrire.dir/main.c.o: undefined reference to symbol 'efreet_mime_type_get'
//usr/local/lib/x86_64-linux-gnu/libefreet_mime.so.1: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
ninja: build stopped: subcommand failed.

##### Steps to reproduce
1.
2.
3.
...

###

[2019-06-12 16:34] wltjr commented on #47
@jlslinux thanks for the report. This was brought to my attention by @ApostolosB in https://github.com/Obsidian-StudiosInc/ecrire/issues/45#issuecomment-500489427, which I assumed had something to do with EFL being built with meson. That may or may not be the case. I am able to build it myself using ninja generator with EFL built using autotools, I haven't done it via meson, yet. You can see the l

[2019-09-17 17:13] wltjr commented on #47
Finally, I am able to confirm this issue. I do not have a resolution yet. I am still looking into what is causing the issue. The efreet-mime.pc files look similar enough. However, I do not see `-lefreet_mime` on the line that is failing. I see only `-lefreet`. That is where the problem lies. It should be included, as it is in the [CMakeLists.txt](https://github.com/Obsidian-StudiosInc/ecrire/blob/

[2019-10-10 12:49] NuLogicSystems opened #48 "Build issue on efl 1.23.0"
Using cmake + gnu make
[code]

[2019-10-10 12:58] NuLogicSystems commented on #48
Update: refactored my PKGBUILD to use ninja and got the same exact error.

[2019-10-10 14:57] wltjr commented on #48
Hi @NuLogicSystems, this is the same issue as reported in #47, that issue needs a better description.

I spent some time looking into it the other day. It is a pretty strange issue, and casualty resulting from the switch to meson. With 1.22.x, if built with autotools, no issues. If built with meson, you get the issue you ran into and is in #47. Nothing in the CMakeLists.txt files for ecrire change

[2019-10-10 16:02] wltjr commented on #48
Closing as a duplicate of #47

[2019-10-10 16:02] #48 closed

[2019-10-10 23:44] wltjr commented on #47
@jlslinux  @NuLogicSystems I found the problem! It is an upstream issue. The efreet-mime.pc file is messed up when created via Meson.

Autotools
[code]

Meson
[code]

All that ends up is ```-lm```, as seen in two places configure and compile. The line that fails only has ```-lm``` and not ```-lefreet_mime``` as a result.

You can work around this for now by editing ```/usr/lib64/pkgconfig/efreet-m

[2019-10-11 00:26] NuLogicSystems commented on #47
OK, but that doesn't explain why it doesn't build using cmake + gnu make.
That is what my original issue was, not meson/ninja.

When I use:
cmake -DCMAKE_INSTALL_PREFIX=/usr
make

I also get -- Found efreet_mime: /usr/lib/libm.so , so maybe it's a cmake issue, and not meson.

https://sourceforge.net/p/nulogicos/PKGBUILD/ci/master/tree/ecrire-git/PKGBUILD

[2019-10-11 01:36] wltjr commented on #47
@NuLogicSystems it is an upstream EFL issue. Since they switched to meson, the generation of the efreet-mime.pc file is messed up. It does not matter what build system is used downstream, cmake + make, cmake + ninja, or any other build system. They all use the same pc file for pkg-config. I could be using autotools or possibly even meson. It would still break, as the pc file has some issues for so

[2019-10-11 01:48] NuLogicSystems commented on #47
OK, thanks for the explanation.
I really hate having to edit pkgconfig files manually just to build some packages, this really should be reported upstream so it can be fixed there.

[2019-10-11 02:14] NuLogicSystems commented on #47
Well, I got it built, but it crashes on trying to open it's settings.
Segmentation fault (core dumped)

[2019-10-11 02:32] wltjr commented on #47
I agree, editing pc files it is not ideal. I reported it on IRC. My phab account is still disabled, I rather not bother with creating another.

The crash is likely unrelated, but another issue to fix with changes in EFL. I will see about replicating that. Feel free to open another issue on the crash. If there are issues I can fix, I will!

[2019-10-11 02:34] wltjr commented on #47
@NuLogicSystems, I just tried it locally and no crash. May try to delete your settings file, ~/.config/ecrire.cfg. If it continues, please file a bug so I can see about replicating or fixing. Thanks!

[2019-10-11 02:51] NuLogicSystems commented on #47
OK, deleted ~/.config/ecrire.cfg still core dump.
I'm using efl 1.23.0, maybe it's something there.
It could also be that i'm running it on KDE.
I'll make a new issue for this in the morning.

[2019-10-11 03:08] wltjr commented on #47
@NuLogicSystems I am also on 1.23.0, so, not sure what is going on. Please do file a new issue when you get a chance. Thank you!

[2019-10-11 04:32] vtorri commented on #47
https://phab.enlightenment.org/T8334

[2019-10-11 05:04] wltjr commented on #47
@vtorri, thank you very much!

[2019-10-11 12:41] vtorri commented on #47
don't use cmake, use meson :p

[2019-10-11 16:21] wltjr commented on #47
@vtorri, ecrire was using cmake, which is why I continued that. I may switch to meson, but that requires a fair amount of work.

It looks like the problem is not the pc files, but possibly efl cmake config files. Using ```-D CMAKE_FIND_DEBUG_MODE=ON```
[code]
May need to update upstream bug from pc file issues to cmake file issues. I believe the libraries are found and passed along via those Confi

[2019-10-11 16:45] vtorri commented on #47
i understand. for Etui i switch to meson because it's faster than autotools (and cmake) and i prefer the syntax quite a lot

[2019-10-11 16:53] wltjr commented on #47
I am impartial, pros and cons to each. However, if I was using Meson, this problem may go undiscovered for some period of time. Unless, EFL will stop supporting cmake build system for downstream. I cannot tell exactly where the problem lies, but seems its in the Config.cmake files. Those do not seem to be handling the change to multiple libraries in pc files.

It could be a larger cmake issue, but

[2019-10-11 20:42] NuLogicSystems opened #49 "settings dialog segfault ecrire"
ecrire 0.3.4 on efl 1.23.0 crashes when trying to open settings.
Segmentation fault (core dumped)

[2019-10-11 21:26] wltjr commented on #49
Thank you for the report! Any chance of a backtrace with gdb or something I can use to look into this? I am not able to replicate, as of this moment.

[2019-10-18 00:47] wltjr commented on #47
Looks like the problem is coming from EfreetConfig.cmake. I modified the file to test,
[code]
It finds the right library now,
[code]
Ecrire compiles as a result.

It seems like the problem lies within the EfreetConfig.cmake file, due to the change of the pc files having ```-lm``` now.

[2019-10-18 01:20] wltjr commented on #47
I also tried,
[code]
That is likely a more proper solution, as any _component passed will work rather than a hard coded one as in my test. That also finds the correct library allows ecrire to compile.

[2019-10-18 04:49] vtorri commented on #47
for Windows, technically speaking the generation of pc files with meson  is wrong : the order of libraries is very important on Windows. Hopefully, -lm is ignored on Windows

[2019-10-18 04:57] wltjr commented on #47
@vtorri check the version of meson. I believe, the pc files are fully generated by meson. I think > 52.x has the order corrected. Another with that version on IRC had a different order. I am on 51.2.

The order really should only be an issue for cmake builds not other build systems. They may or may not be affected at all by the order.

[2019-10-18 05:01] vtorri commented on #47
automatically generating pc files with meson is an error imho, there are variables which were in pc.in files which are not anymore

i would have preferred keeping .pc.in and using substitution, like gstreamer does, and like i do for Etui.

[2019-10-18 17:39] wltjr commented on #47
I can understand the automation but also the lack of customization--always trade-offs. How many pc files are missing variables that used to have them? If that number is small, then it does make more sense for the automation. Given, EFL has some 42 pc files, it makes sense to automate rather than creating and maintaining 42 .pc.in files. It seems a few can have a little different format or addition

[2019-10-18 17:50] vtorri commented on #47
we have too much pc files. some of them should be dropped
some of them are for c++, we can ignore them
embryo.pc is used only internally, the pc file is useless
first efreet should be rewritten, and one pc file should be enough
ethumb should die,
some should (or will not) be installed (ecore_evas for example or ecore_input)
and when we will drop the legacy code, a lot of pc files will be removed

[2019-11-02 16:37] wltjr commented on #49
@NuLogicSystems any further information on this issue? Does it still exist with EFL 1.23.2?

[2019-11-02 18:58] NuLogicSystems commented on #49
Can't get the docs for EFL 1.23.2 to build ATM.
I'm not sure if its something they changed there, if the tarball is simply missing something, or if there is a bug in it,  to cause it to error out, but I'm looking into it.

[2019-11-04 21:57] wltjr commented on #47
Looks like building EFL using meson >= 0.52.0 resolves this issue.

Although, it still has revealed an underlying problem with [EFL cmake file for efreet](https://github.com/Enlightenment/efl/blob/master/cmakeconfig/EfreetConfig.cmake.in#L42) as mentioned in https://github.com/Obsidian-StudiosInc/ecrire/issues/47#issuecomment-543438184

[2019-11-07 12:52] ApostolosB commented on #49
[code]

the backtrace of it.

[2019-11-07 21:56] wltjr commented on #49
@NuLogicSystems thank you for the backtrace. I am still not able to replicate the crash. I have a few questions.

Does it crash as soon as you click settings?

Are you using settings from the drop down file menu, or from the toolbar?

Wayland or X11?

I may have a few more. I have tried from both drop down menu and toolbar, and from drop down menu with toolbar disabled. Unfortunately, no crashing

[2019-11-08 16:21] ApostolosB commented on #49
From the Toolbar. Crashes instantly. And wayland.

[2019-11-08 17:40] NuLogicSystems commented on #49
Both and both.

[2019-11-08 18:23] wltjr commented on #49
@ApostolosB I assume it also crashes from drop down file menu. Also, thank you for the backtrace, gave credit to wrong person... :-1:

@NuLogicSystems are you referring to both X11 and Wayland? Or do you mean both toolbar and drop down file menu?

To both, any issues with Toolbars or Naviframes in elementary_test?

Thank you for the information. I am still unable to replicate the crash, thus all t

[2019-11-08 21:46] NuLogicSystems commented on #49
I mean both toolbar and drop down file menu as well as under both X11 and Wayland.
I thought that was obvious, as I answered both questions in order as given.
I did leave out the first question though.
Yes, it crashes right after clicking on settings.

[2019-11-08 22:50] wltjr commented on #49
@NuLogicSystems thank you and sorry for the redundancy. I am just trying to find someway I can replicate the issue to figure out why it is crashing.

[2019-11-11 19:03] ApostolosB commented on #49
when running i from the command line you get
[code]

Might give a clue on the crash maybe??.

BTW it crashes on Weston also.

[2019-11-13 23:01] wltjr commented on #49
@ApostolosB thanks, definitely something I need to change. I am unsure if that is the cause of the crash. Since the crash happens when opening the settings, and those lines are part of the main window. If it crashed on start, then it would make more sense to be from that function call. Maybe it is from the combo of those function calls plus the settings dialog that triggers the crash. Either way,

[2019-11-13 23:17] wltjr commented on #49
@ApostolosB I see the message now, it is generated when you open the settings. I do not call that function outside the main file. You can grep the sources and see. I only use that function in main.c and it does not generate that message. I am looking into naviframe and else where in EFL widgets used in the settings dialog. You maybe onto something there, but I am not sure I can address the issue i

[2019-11-13 23:27] wltjr commented on #49
Here is the [line of code](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/ui/settings_dialog.c#L576) in ecrire that generates the fix your code message. Looks like it has something to do with ```win = elm_win_inwin_add (parent);```

That very well maybe the cause of the crash, as it is the first part of code for the settings UI.

[2019-11-19 00:03] wltjr commented on #49
I am still unable to replicate the crash. Although, I think I may know where the issue is coming from, the alpha aspect of the main window. I believe, that is where the EO stuff is involved. Why it only affects the inner window is beyond my current knowledge of EFL.

Try to comment out the following lines, [main.c Line 1253-1254](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/ma

[2019-11-27 18:27] Peter2121 opened #50 "Problem of transition effect on file open"
##### Description
When the "Animate open" option is active - it is impossible to open file from command line. Probably, at the moment of calling `elm_transit_go` function the `ecrire` window is not completely initialized.

##### Steps to reproduce
1. Start `ecrire`
2. Activate option "Animate open"
3. Close `ecrire`
4. Open file from command line with `ecrire`:
`ecrire test.txt`

When `ecrire` is

[2019-11-27 18:59] wltjr commented on #50
Hi @Peter2121, that is definitely a problem. I can confirm the unwanted behavior you reported. It is kind of funny, the document opens, you see it, but then it goes away and you have a blank document. Like, where did my document go? I will look into a resolution ASAP. Thanks again for the report!

[2019-11-28 12:01] Peter2121 opened #51 "No focus on startup"
##### Description
There is no focus inside text area on startup. If I try to enter something on my keyboard or press `Ctrl-V `to paste any text - nothing happens. I must click inside text area, then it gets focus and text can be entered inside.

##### Steps to reproduce
1. Start `ecrire`
2. Try to input some text

##### System information
- EFL Version: GIT
- E Version: GIT
- X or Wayland: X

[2019-11-28 12:09] Peter2121 opened #52 "Some commands are disabled"
##### Description
On startup of `ecrire` some commands (menu and toolbar) are disabled. They are enabled only if some keyboard events pass to the text area. If I just paste any text - the commands "Save" and "Save As" are unavailable, so I cannot save my pasted text.
BTW, I don't see any reason of disabling "Close" toolbar button on startup.

##### Steps to reproduce
1. Start `ecrire`
2. Click ins

[2019-11-28 12:11] Peter2121 commented on #51
...even if I paste something using toolbar icon (it works) - there is still no focus in the text area!

[2019-11-28 12:57] Peter2121 commented on #52
The same subject:
- "Select All" is always disabled
- "Copy" is always disabled

[2019-11-28 18:20] Peter2121 opened #53 "Copy/Paste key bindings"
##### Description
Almost all editors permit to use Ctrl-Ins to copy selection (like Ctrl-C) and Shift-Ins to paste selection (like Ctrl-V). It would be nice to be able to use the same keyboard shortcuts in `ecrire`. In an ideal world all keybindings should be configurable (like in Terminology).

##### Steps to reproduce
1. Enter some text in ecrire
2. Select some text
3. Try to copy the selected t

[2019-12-04 18:40] Peter2121 commented on #53
A patch is proposed.

[elm_code_widget.c.patch.txt](https://github.com/Obsidian-StudiosInc/ecrire/files/3923431/elm_code_widget.c.patch.txt)

[2019-12-09 18:48] wltjr commented on #51
Sorry for the delay, it looks like the main menu bar is causing some issues. If you go to settings and uncheck Show Menu, then focus works in the main text area. I am looking into why the main menu is preventing focus from the text area.

[2019-12-09 19:36] wltjr commented on #52
Sorry for the delay, thanks for the report. I have an initial fix for the save and save as buttons. I am working on a fix for the undo button.

The close button is disabled until there is something to close. Close and exit are different, but I do need to reconcile the two. Main menu only has exit, toolbar only has close. I will look to make some changes there.

Regarding cut, copy, and select all,

[2019-12-09 20:46] wltjr commented on #47
I am planning on closing this issue. It seems to be resolved with newer meson. Unless someone is still experiencing this with EFL built under >= meson 0.52.0.

[2019-12-09 22:34] wltjr commented on #53
Sorry for the delay, thanks for the report. I can see about addressing this in ecrire. For your patch, that would need to go to EFL developers. I have no means to include that. I believe, @haxworx is still maintaining elm_code and would be interested in that patch. Otherwise, you probably need to open a ticket in upstreams [phab](https://phab.enlightenment.org/) or [PR](https://github.com/Enlighte

[2019-12-10 17:21] #51 closed

[2019-12-11 04:59] vtorri commented on #47
so i will close https://phab.enlightenment.org/T8334

[2019-12-11 17:20] wltjr commented on #47
@vtorri yes, although, it was a pc file generation issue. It was a meson issue not efl. However, efl could modify its cmake files for efreet to ensure this issue does not come up again. But, given it is likely a one off issue, that may or may not be necessary.

[2019-12-11 17:53] vtorri commented on #47
btw, if you can try etui : https://github.com/vtorri/etui , branch yoz-wip, that would be nice

[2019-12-11 17:57] wltjr commented on #47
@vtorri sure thing, I can follow up via IRC. I updated my [gentoo ebuild](https://github.com/Obsidian-StudiosInc/os-xtoo/tree/master/app-text/etui) the other day for etui. Some tags/release for etui would be nice, if you get a chance, thanks!

[2019-12-18 22:30] wltjr commented on #50
@Peter2121, I made some changes and added a animation delay when opening a document during ecrire start. That resolves the issue reported, but leaving open for additional confirmation. I may need to increase the delay. I noticed, if the delay was less than a quarter of a second, the problem remained. At a quarter of a second or greater, the issue does not occur. Hopefully, that does not vary from

[2019-12-22 12:25] Peter2121 commented on #50
The issue is solved for me, thank you!

[2019-12-22 12:29] Peter2121 commented on #52
It looks better for `save` and `save as`, but sometimes they are still disabled after typing 'Space' key (open file, hit 'Space' - the both buttons are still disabled). If I hit 'Enter' - they become enabled.

[2019-12-22 12:33] Peter2121 commented on #53
EFL guys say there is an API somewhere to add key bindings. It seems that it was used in EDI to add something. So, they don't want to add key bindings for keys that are not present in all supported OS (Mac OS X...) as it's possible to play at the application level. Probably, you need to add such bindings in Ecrire yourself.

[2019-12-22 12:35] Peter2121 opened #54 "Unblink cursor"
It would be nice to add a possibility to have a static, not blinking cursor.

[2019-12-23 15:23] Peter2121 opened #55 "Cannot build on Mac OS X"
##### Description
Ecrire cannot be built on Mac OS X

##### Steps to reproduce
1. Install EFL using Brew
2. Git clone Ecrire
3. `cmake . `in Ecrire dir

##### System information
- EFL Version 1.22.4
- E Version N/A
- X or Wayland N/A

Console log:
[code]
pkg-config files for EFL are present in `/usr/local/lib/pkgconfig`

CMakeOutput.log attached.
[CMakeOutput.log.txt](https://github.com/Obsidian-S

[2019-12-23 18:36] #53 closed

[2019-12-23 18:38] wltjr commented on #50
Great, glad that issue is resolved. I plan to add more effects time permitting and some additional settings like, zoom in, fade in, and options to control the speed of the animation.

[2019-12-23 18:38] #50 closed

[2019-12-23 18:39] wltjr commented on #53
@Peter2121, sorry, I was not clear. I was only referring to your patch, since it touched code outside of ecrire. I added support for Ctrl+Insert and Shift+Insert. That should resolve this issue. If you have any issues with that, please reopen or file a new issue. Thanks!

[2019-12-23 18:40] wltjr commented on #52
I think that is due to some issues with elm_code events. The callbacks tend to not fire on initial actions, but only fire on subsequent actions. I see this odd behavior a fair amount. Type one key, undo does not get activated, click else where or type another key, and it activates. I will see if I can address, but pretty sure the elm_code callbacks are not firing when they should, thus the issue.

[2019-12-23 18:49] wltjr commented on #55
@Peter2121, thank you for testing build under OS X. I do not access to that OS at this time. I would have to use a OS X CI env or hosted VM. However, those issues offhand look to be issues with EFL's cmake support. If you find other EFL stuff using cmake, I believe, you will run into the same errors. I use EFL cmake support in ecrire's cmake build system. The only way I could fix, without replacin

[2019-12-23 18:49] wltjr commented on #47
Close per https://github.com/Obsidian-StudiosInc/ecrire/issues/47#issuecomment-549565951

[2019-12-23 18:49] #47 closed

[2019-12-23 18:51] wltjr commented on #54
I will look into this time permitting. I am unsure what all it entails to add in support for such at this time.

[2019-12-23 18:54] wltjr commented on #49
Any news on this? I assume it is still crashing. @ApostolosB did you build ecrire with debugging symbols, when you did the GDB output in https://github.com/Obsidian-StudiosInc/ecrire/issues/49#issuecomment-551066649? It looks like only EFL was built with debugging symbols.

[2019-12-23 19:21] ApostolosB commented on #49
[code]

Does this output help??? Just build git with debug. On stable E and EFL.

[2019-12-23 19:59] Peter2121 commented on #55
I'm surprised to discover that an advanced build system like CMake is not able to find libs that have pc files present in a correct place, even without cmake's Find* files. I'm almost sure that a workaround exists ;)

[2019-12-23 20:36] wltjr commented on #49
@ApostolosB, thank you for that. It does not show the exact problem, but it does provide more information than the previous one. It looks to potentially be something with the font portion of settings. I wish I knew what was different on the systems where it crashes and mine, so, I could replicate the crash myself. Thanks again for the backtrace!

[2019-12-23 20:42] wltjr commented on #55
@Peter2121 it seems cmake is pretty lacking there. EFL has to provide [helpers for cmake](https://github.com/Enlightenment/efl/tree/master/cmakeconfig) to find pkg-config pc files. It is one of many reasons why people are switching to meson. I cannot argue against Meson vs CMake when it comes to pkg-config pc file support. I am sure EFL developers would rather not have to create or maintain the cm

[2019-12-23 21:40] wltjr commented on #49
@ApostolosB, actually, it looks like [line 179](https://github.com/Obsidian-StudiosInc/ecrire/blob/master/src/bin/ui/settings_dialog.c#L179) might be the problem. I do a null check on ```prev_font``` but not on ```efp``` or ```efp->name```. If either ```efp``` or ```efp->name``` are null, that would explain the crash. I am assuming it is  ```efp``` that is null, but it could be ```efp->name```. Se

[2019-12-23 23:02] ApostolosB commented on #49
Works with the patch.

[2019-12-23 23:47] wltjr commented on #49
Great, thanks for testing and the back trace! I will commit the changes and close this issue.

[2019-12-23 23:49] #49 closed

[2019-12-25 15:51] Peter2121 opened #56 "Search area bugs"
There are some bugs in search area:
1. _Case sensitive/insensitive_ search option can be changed just once, then the button remains inactive
2. _Regular expression_ search option does not work correctly, it can be activated just once, then the button remains inactive. Sometimes Ecrire becomes frozen after trying to use this option.
3. _Whole word_ search option does not work correctly, it can be a

[2019-12-25 15:53] Peter2121 opened #57 "Add some key bindings"
It would be nice to have Ctrl-Home (go to the beginning of the document) and Ctrl-End (go to the end of the document) working in Ecrire ;)

[2019-12-27 16:43] #57 closed

[2019-12-28 16:08] Peter2121 commented on #55
Finally i could build it with the following patch of CMake build file.
I don't know how to search the correct version of openssl as we need to mention exactly the same version that was used to build EFL libs, so i manually forced the correct one (see comment in patched file)
[CMakeLists.diff.txt](https://github.com/Obsidian-StudiosInc/ecrire/files/4007187/CMakeLists.diff.txt)
The first impression

[2019-12-28 18:20] wltjr commented on #55
@Peter2121, very nice work, thank you! I am surprised at the solution, as I spent time looking into cmake options for pkg-config for issue #47. That seemed to be a problem with cmake find files from efl and pc file library order. I wonder if that same issue would have been present using your solution of pkg_search_module. I checked in cmake irc channel a few times about pkg-config support.

Regard

[2019-12-29 12:35] Peter2121 commented on #55
It is really a difficult situation. Ecrire itself does not need openssl. It is needed by some EFL libs. So, we need openssl in Ecrire link command because we use EFL. And we need exactly the same library that was used during EFL build. And yes, it is a problem when there are several openssl libs present in the system. Right now I have 4 openssl libs on my Mac and 2 openssl libs on my FreeBSD.

On

[2019-12-29 16:29] wltjr commented on #55
Interesting, I wonder if this is also an issue on Linux, when there is more than one openssl library available. I also wonder if the situation would be any different with a different build system, say meson. It seems like, we would have the same issue with Meson, needing to know which openssl EFL was built against.

I will research options for openssl version detection time permitting. Thank you f

[2019-12-29 21:02] wltjr commented on #55
@Peter2121, was there a specific reason you increased the version of EFL in your CMake modifications? I am wondering if the changes require that version, or I can commit and push them with say EFL 1.20.7. While we figure out a openssl solution.

I am stuck on EFL 1.20.7 for CI usage, as the person packaging EFL for ubuntu in [ppa:niko2040/e19](https://launchpad.net/~niko2040/+archive/ubuntu/e19) s

[2019-12-29 21:21] Peter2121 commented on #55
I've just put the current version installed by brew.
I don't think it is really important.
BTW, 1.20.7 is _really_ old, I don't think that any tests with such version could be important.

[2019-12-29 22:07] wltjr commented on #55
I agree, 1.20.7 is old for testing, but that is what I am stuck with for CI, for now. Also, any of the code analysis tools also want it built, like Coverity and Sonar.

I will go ahead and commit the changes, less the comment and version increase. If it fails for some reason in CI, I will revert till I can update the EFL package in Ubuntu.

[2020-02-16 22:10] wltjr commented on #56
I will have to redo aspects of the UI. EFL lacks toggle buttons; aside from the slider and check box. I was attempting to use buttons as a toggle. Ideally, EFL supports buttons that can be pressed once depressed, like power buttons on many electronic devices and otherwise. You press the button to turn on power, and again, to turn off power. The button stays depressed while activated. I will need t

[2020-02-24 09:36] Peter2121 opened #58 "Another problem with open animation"
EFL built from GIT
Ecrire built from GIT
FreeBSD 11.3 OS

In most cases, after opening a large file (~1000 lines), pressing 'left' and 'right' buttons does not move the cursor correctly.

I can put the cursor everywhere using the mouse and I can move it correctly with 'up' and 'down' buttons. But when I move the cursor with 'right' or 'left' button - it stays at the old place. Really, it is just n

[2020-02-26 14:56] wltjr commented on #58
That is pretty interesting, thank you for the report! If it cannot be replicated in EDI or elementary_test, then its ecrire specific. The issue maybe a result of changes made to address the other issue #50. Either way, I will look into this and hopefully, resolve ASAP.

[2020-03-25 20:26] wltjr commented on #58
@Peter2121 sorry for the delay, I can confirm the issue you experienced. Even more strange, if I open a file from command line, with animation on open enabled, I can move the cursor left and right. If I open the same file again, after ecrire has started, I cannot move the cursors left or right.

I also discussed it with @haxworx on irc a few days back, there is a slight chance it was resolved in E

[2020-03-25 20:43] haxworx commented on #58
What version are you testing against

On Wed, 25 Mar 2020, 20:26 William L Thomson Jr, <notifications@github.com>
wrote:

[2020-03-25 20:49] wltjr commented on #58
@haxworx I am using EFL 1.23.3, with ecrire from git. I need to do a new release of ecrire. I am not using EFL from git due to the removal of xine support. I need to modify my ebuild for gstreamer only. I can see about modifying my ebuild and testing out efl from git.

[2020-03-25 22:54] wltjr commented on #58
@haxworx just tried with EFL from git, and sadly, the issue remains. I will have to look further into ecrire or other code as to what is causing this issue, and continue to test under EFL from git.

[2020-03-26 08:22] haxworx commented on #58
Can you list both issues and how to reproduce exactly?

On Wed, 25 Mar 2020, 22:54 William L Thomson Jr, <notifications@github.com>
wrote:

[2020-04-06 19:53] wltjr commented on #58
@haxworx sorry for the delay. The issue can be reproduced using a document that has long lines. I went to this website, [https://lipsum.com](https://lipsum.com/), set it to 50 paragraphs, and saved that to a document. I then opened that document with ecrire.

To replicate the problem.
1. Start Ecrire
2. Open a document with long lines, > 1000 characters per line, using the EFL file manager to find

[2020-05-22 21:07] wltjr commented on #43
Seems to be a deficiency in elm_code per [elm code task #T6608](https://phab.enlightenment.org/T6608)

[2020-07-15 13:18] Peter2121 opened #59 "Crash on second 'Open'"
##### Description
Ecrire crashes on second 'Open'

##### Steps to reproduce
1. Start ecrire
2. Menu File -> Open, select any file
3. File is open
4. Menu File -> Open
Ecrire crashes (segmentation fault)

##### System information
- EFL from Git
- E from Git
- Xorg on FreeBSD 11.3

[2020-07-15 13:24] Peter2121 commented on #4
Seriously improved in the last version of EFL (1.24.3).

[2020-07-15 15:32] ApostolosB commented on #4
nahhh. still takes ages to open a 3.6MB file.

[2020-07-23 01:58] wltjr commented on #59
Hi, thanks for the report. Unfortunately, I have not been able to replicate the issue. I have opened several files in a row without issue. I tried with and without the open animation, toolbar, and menu. I tried opening files direction and from the history. Can you provide additional information about the crash? Any output, or ideally, a backtrace. I will keep this open in the mean time, to see if

[2020-07-23 02:00] wltjr commented on #4
It actually opened a couple times for me, but there were issues each time. It also crashed as I tried to navigate the document via scrollbars. It does seem to be a little better, or different, but remains an issue.

[2020-07-28 13:43] ApostolosB opened #60 "Crash with selected text"
##### Description
Description of issue
On many occasions having an area of text selected (one two lines) and clicking somewhere else leads to a crash.

##### Steps to reproduce
1. Select some text
2. Click somewhere else
3. Crash (once every 5-6 times)
...

##### System information
- EFL Version > 1.24.3
- E Version > 0.24.2
- X or Wayland > Wayland

BT:
[code]
And another one:

https://www.enligh

[2020-07-30 19:16] wltjr commented on #60
Hi, thanks for the report. This might be an upstream issue in EFL. It might also be Wayland specific, as I tried to replicate but I was not successful. Although, I see from your report, that the problem is not consistent, so I might not still experience it at some point. If possible, can you try it out under X11 to see if it crashes there. Thanks!